<!------------------------------------SLIDER------------------------------------>


<div class="oj-row">
  <div id="filmstrip-overlaidpagingcontrol-example" class="homeslider">
    <div class="oj-panel">
      <div id="filmStripDiv slider" style="position: relative;">
        <div id="filmStrip" 
           data-bind="ojComponent: {
             component: 'ojFilmStrip', 
             maxItemsPerPage: 1, 
             arrowVisibility: currentNavArrowVisibility}" 
           >
          <!-- ko foreach: slide -->
          <div class="oj-panel oj-panel-alt2 demo-filmstrip-item" 
             data-bind="style: {
               display: getItemInitialDisplay($index())}">
            <div data-bind="html: name,css:classname"></div>
          </div>
          <!-- /ko -->
        </div>
        <div class="demo-overlaid-paging-control">
          <div id="pagingControl" 
             data-bind="ojComponent: {
               component: 'ojPagingControl', 
                 data: getPagingModelslider(), 
             pageSize: 0, 
               pageOptions: {type: 'dots'}}"> </div>
        </div>
      </div>
      <!-- end filmStripDiv --> 
    </div>
  </div>
</div>
<!-----------------------------------VIDEO------------------------------------>
<div class="oj-row row2">
  <div class="container">
    <div class="oj-flex">
      <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-xl-4 oj-flex-item">
        <div class="videoHamidoucontainer oj-margin">
          <div class="oj-sm-12 videoHamidoutitle">Hamidou Dia</div>
          <div class="videoHamidou">
            <div class="oj-sm-12 videoHamidoudesc">
              <div class="oj-flex">
                <div class="oj-sm-9"><span class="name">Senior Vice President,</span><br>
                  <span class="title">Sales Engineering & Cloud 
                  Customer Success</span></div>
                <div class="oj-sm-3"><img src="css/images/play_icon.png" class="img-responsive"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!------------------------------------VISION------------------------------------>
      
      <div class="oj-sm-12 oj-md-8 oj-lg-8 oj-xl-8 oj-flex-item ">
        <div class="oj-margin visioncontainer">
          <div class="oj-sm-12 visiontitle">Solution Engineering Vision</div>
          <div class="oj-sm-12 visiondesc oj-flex">
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/innovation_icon.png"></div>
              </div>
              <div class="blocks_title">Innovation</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/awareness_icon.png"></div>
              </div>
              <div class="blocks_title">Awareness</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/opportunity_icon.png"></div>
              </div>
              <div class="blocks_title">Opportunity</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/innovation_icon.png"></div>
              </div>
              <div class="blocks_title">Foundational</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/innovation_icon.png"></div>
              </div>
              <div class="blocks_title">Success</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/innovation_icon.png"></div>
              </div>
              <div class="blocks_title">Demand</div>
            </div>
          </div>
          <div class="visiondesc2">
            <p>To take our customers problems and turn them into customer opportunities by 
              designing & building next-gen business solutions that leverage our entire Oracle 
              Cloud stack, our modern DevOps platform, our Agile development best practices, 
              and our very talented Cloud developers. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------SERVICES------------------------------------>
<div class="oj-row row3 ">
  <div class="container">
    <div class="col-sm-12 services">
      <div class="oj-flex">
        <div class="oj-sm-12 servicestitle">Our Services</div>
        <div class="oj-sm-12 oj-margin-top">
          <div class="oj-flex">
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/pink_cloud.png"></div>
              </div>
              <div class="service_title">Deliver a Cloud<br>
                Day</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/blue_cloud.png"></div>
              </div>
              <div class="service_title">Develop a Cloud<br>
                Vision</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/orange_cloud.png"></div>
              </div>
              <div class="service_title">Design a Cloud<br>
                Solution</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/green_cloud.png"></div>
              </div>
              <div class="service_title">Adopt a Cloud<br>
                Solution</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/cal_cloud.png"></div>
              </div>
              <div class="service_title">Support a Marketing<br>
                Event</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/dollar.png"></div>
              </div>
              <div class="service_title">Develop a Value<br>
                Hypothesis</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/tab_cion.png"></div>
              </div>
              <div class="service_title">Build a POC</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/lb_cloud.png"></div>
              </div>
              <div class="service_title">Develop a Support<br>
                Onboarding</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/green_persona.png"></div>
              </div>
              <div class="service_title">Build an Executive<br>
                Briefing</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/proposal_icon.png"></div>
              </div>
              <div class="service_title">Create a Packaged<br>
                Proposal</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/graph_icon.png"></div>
              </div>
              <div class="service_title">Build a Business<br>
                Case</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/cloud_tick.png"></div>
              </div>
              <div class="service_title">Deliver a Health<br>
                Check</div>
            </div>
            <div class="oj-sm-12 oj-sm-center">
              <div class="oj-flex-item">
                <button class="oj-sm-align-center oj-flex">Request Service</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------CALENDAR------------------------------------>
<div class="oj-row row5 ">
  <div class="container">
    <div class="col-sm-12 keydates">
      <div class="oj-flex">
        <div class="oj-sm-12 keydatestitle">Upcoming SE Excellence Key Dates</div>
        <div class="oj-sm-12 oj-margin-top">
          <div class="oj-flex">
            <div class="oj-sm-12">
              <div class="oj-margin">
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex"><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Tuesday, August 23, 2017 </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">Community Call: Monthly Sales accounts call</div>
                    <div class="oj-sm-12 oj-lg-3 ">
                      <div class="orangeBbutton oj-lg-float-end">Add to Calendar</div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex"><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Tuesday, August 23, 2017 </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">Community Call: Monthly Sales accounts call</div>
                    <div class="oj-sm-12 oj-lg-3 ">
                      <div class="orangeBbutton oj-lg-float-end">Add to Calendar</div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex"><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Tuesday, August 23, 2017 </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">Community Call: Monthly Sales accounts call</div>
                    <div class="oj-sm-12 oj-lg-3 ">
                      <div class="orangeBbutton oj-lg-float-end">Add to Calendar</div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex"><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Tuesday, August 23, 2017 </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">Community Call: Monthly Sales accounts call</div>
                    <div class="oj-sm-12 oj-lg-3 ">
                      <div class="orangeBbutton oj-lg-float-end">Add to Calendar</div>
                    </div>
                  </div>
                </div>
                <div class="oj-sm-12 oj-sm-center">
                  <div class="oj-flex valign">
                    <div class="oj-sm-12 oj-lg-4 oj-flex"></div>
                    <div class="oj-sm-12 oj-lg-5 oj-flex">
                      <button class="oj-sm-align-center oj-flex bluebutton ">See All</button>
                    </div>
                    <div class="oj-sm-12 oj-lg-3"><span class="oj-md-float-end">Missed out any course?<br>
                      <a href="#">Checkout Archives</a></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------Featured Stories------------------------------------>
<div class="oj-row row6 newrow">
  <div class="container">
    <div class="col-sm-12 featured  bgwhite">
      <div class="oj-flex">
        <div class="oj-sm-12 featuredtitle">Featured Stories</div>
        <div class="oj-sm-12 oj-margin-top">
          <div class="oj-flex">
            <div id="filmStripfeatured" class="oj-sm-12" data-bind="ojComponent: {component: 'ojFilmStrip',maxItemsPerPage: 3,arrowVisibility: 'hidden'}">
              <div id="item1" class="my-filmstrip-item oj-sm-12 oj-margin">
                <div class="employee_c" style="background:url(css/images/employee_feature.jpg);">
                  <div class="emp_details">NATD employee csr story: News description descripton</div>
                </div>
              </div>
              <div id="item2" class="my-filmstrip-item oj-sm-12 oj-margin">
                <div class=" employee_c" style="background:url(css/images/hamidou_bg_1.jpg);">
                  <div class="emp_details">Leader’s featured story</div>
                </div>
              </div>
              <div id="item3" class="my-filmstrip-item oj-sm-12 oj-margin">Twitter here</div>
            </div>
            <div id="pagingControl" data-bind="ojComponent: {
                   component: 'ojPagingControl', 
               data: getPagingModelfeatured(), 
               pageSize: 0, 
               pageOptions: {type: 'dots'}}"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------Wins, Go-Lives and References------------------------------------>
<div class="oj-row row7 newrow">
  <div class="container">
    <div class="col-sm-12 wins  bgwhite">
      <div class="oj-flex">
        <div class="oj-sm-12 winstitle">Wins, Go-Lives and References</div>
        <div class="oj-sm-12 oj-margin-top">
          <div class="oj-flex">
            <div id="filmStripwins" class="oj-sm-12" data-bind="ojComponent: {component: 'ojFilmStrip',maxItemsPerPage: 3,arrowVisibility: 'visible'}">
              <div id="" class="my-filmstrip-item oj-flex-item oj-margin">
                <div class="wins_block oj-sm-12"><span class="yBadge">Wins</span>
                  <div class="win_logo"><img src="css/images/athene_logo.jpg"></div>
                  <div class="win_name">CSM: Amos Savir-Baruch</div>
                  <div class="win_text">Listen to Go-Live Interview</div>
                  <div class="playIcon"><span 
     class="oj-fwk-icon oj-fwk-icon-arrow03-e"></span></div>
                  <div class="summaryButton">
                    <button class="oj-sm-align-center oj-flex">Quick Summary</button>
                  </div>
                </div>
              </div>
              <div id="" class="my-filmstrip-item oj-flex-item oj-margin">
                <div class="wins_block oj-sm-12"><span class="yBadge">Wins</span>
                  <div class="win_logo"><img src="css/images/athene_logo.jpg"></div>
                  <div class="win_name">CSM: Amos Savir-Baruch</div>
                  <div class="win_text">Listen to Go-Live Interview</div>
                  <div class="playIcon"><span 
     class="oj-fwk-icon oj-fwk-icon-arrow03-e"></span></div>
                  <div class="summaryButton">
                    <button class="oj-sm-align-center oj-flex">Quick Summary</button>
                  </div>
                </div>
              </div>
              <div id="" class="my-filmstrip-item oj-flex-item oj-margin">
                <div class="wins_block oj-sm-12"><span class="yBadge">Wins</span>
                  <div class="win_logo"><img src="css/images/athene_logo.jpg"></div>
                  <div class="win_name">CSM: Amos Savir-Baruch</div>
                  <div class="win_text">Listen to Go-Live Interview</div>
                  <div class="playIcon"><span 
     class="oj-fwk-icon oj-fwk-icon-arrow03-e"></span></div>
                  <div class="summaryButton">
                    <button class="oj-sm-align-center oj-flex">Quick Summary</button>
                  </div>
                </div>
              </div>
              <div id="" class="my-filmstrip-item oj-flex-item oj-margin">
                <div class="wins_block oj-sm-12"><span class="yBadge">Wins</span>
                  <div class="win_logo"><img src="css/images/athene_logo.jpg"></div>
                  <div class="win_name">CSM: Amos Savir-Baruch</div>
                  <div class="win_text">Listen to Go-Live Interview</div>
                  <div class="playIcon"><span 
     class="oj-fwk-icon oj-fwk-icon-arrow03-e"></span></div>
                  <div class="summaryButton">
                    <button class="oj-sm-align-center oj-flex">Quick Summary</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------WHO TO CONTACT------------------------------------>
<div class="oj-row row6 newrow">
  <div class="container">
    <div class="col-sm-12 featured  bgwhite">
      <div class="oj-flex">
        <div class="oj-sm-12 featuredtitle">Whom to Contact</div>
        <div class="oj-sm-12 oj-margin-top">
          <div class="oj-flex"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
