<div class="oj-flex">
    
    
    <div class="oj-sm-12 selectrange">
    <form id="formId" class="oj-form">
      
      <!-- You need to set the aria-labelledby attribute
         to make this accessible.
         role="radiogroup" is set for you by ojRadioset. -->
      
      <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: val,
                                                    rootAttributes: {style:'max-width:20em'}}">
        <option value="tod">Today</option>
        <option value="yes">Yesterday</option>
        <option value="last7">Last 7 days</option>
        <option value="last30">Last 30 days</option>
        <option value="month">This Month</option>
        <option value="lmonth">Last Month</option>
        <option value="CR">Custom Range</option>
      </select>
      <input id="sdate" placeholder="From date" data-bind="ojComponent: {component: 'ojInputDate', 
                                              value: start_date, disabled: disableFormControls}"/>
                                              
      <input placeholder="To Date" id="edate" data-bind="ojComponent: {component: 'ojInputDate', 
                                              value: end_date, disabled: disableFormControls}"/>
                                              
     <input id="inputButton" class="bluebutton" type="button" 
           data-bind="ojComponent: {component: 'ojButton', label: 'Apply'}" onclick="applyFilter()"/>
    </form>
  </div>

  
    
     <div class="dboardrow1 oj-flex oj-sm-12">
    <div class="oj-sm-12 oj-lg-3 dboardcol">
      <div class="oj-margin">Total Visitors <br><span class="largetext" data-bind="text:total_visitor"></span></div>
    </div>
    <div class="oj-sm-12 oj-lg-3 dboardcol">
      <div class="oj-margin">New Visitors <br><span class="largetext" data-bind="text:total_unique_visitor"></span></div>
    </div>
    <div class="oj-sm-12 oj-lg-3 dboardcol">
      <div class="oj-margin">Returning Visitors <br><span class="largetext" data-bind="text:total_returning_visitor"></span></div>
    </div>
    <div class="oj-sm-12 oj-lg-3 dboardcol">
      <div class="oj-margin">Course Registration <br><span class="largetext" data-bind="text:total_course_registration"></span></div>
    </div>
  </div>

  <div class="dboardrow1 oj-flex oj-sm-12">
  
    <div class="oj-lg-6">
    <div class="oj-margin">
    <h1 class="heading2">Search Trends</h1>
      <div id='tagcloud1' data-bind="ojComponent:{
    component: 'ojTagCloud',
            layout: 'cloud',
            items: tags
    }"
     style="max-width:800px;height:300px;margin-left:auto;margin-right:auto;"> </div>
     </div>
    </div>
    <div class="oj-lg-6">
    <div class="oj-margin">
    <h1 class="heading2">Course Registration </h1>
     <div id='chart-container'>
    <div id="barChart" data-bind="ojComponent: {
            component: 'ojChart', 
            type: 'bar', 
            orientation: orientationValue,
            stack: stackValue,
            series: barSeriesValue, 
            groups: barGroupsValue, 
            animationOnDisplay: 'auto',
            animationOnDataChange: 'auto',
            hoverBehavior: 'dim'
        }"
         style="max-width:500px;width:100%;height:350px;">
    </div>
    
</div>
     </div>
    </div>
  </div>
</div>