<!------------------------------------SLIDER------------------------------------>

<div class="oj-row" id="mainBar">
  <div id="filmstrip-overlaidpagingcontrol-example" class="homeslider">
    <div class="oj-panel">
      <div id="filmStripDiv slider" style="position: relative;">
        <div id="filmStrip" 
           data-bind="ojComponent: {
             component: 'ojFilmStrip', 
             maxItemsPerPage: 1, 
             arrowVisibility: currentNavArrowVisibility}" 
           > 
          <!-- ko foreach: slide -->
          <div class="oj-panel oj-panel-alt2 demo-filmstrip-item largeslide" 
             data-bind="style: {
               display: getItemInitialDisplay($index())}">
            <div data-bind="html: name,css:classname"></div>
          </div>
          <!-- /ko --> 
        </div>
        <div class="demo-overlaid-paging-control">
          <div id="pagingControl" 
             data-bind="ojComponent: {
               component: 'ojPagingControl', 
                 data: getPagingModelslider(), 
             pageSize: 0, 
               pageOptions: {type: 'dots'}}"> </div>
        </div>
      </div>
      <!-- end filmStripDiv --> 
    </div>
  </div>
</div>
<!-----------------------------------FIXED NAV------------------------------------>
<div class="oj-row ">
  <div id="setupBar" class="homesubnav oj-sm-12">
    <div class="container">
      <ul class="">
        <li class=""><img src="css/images/vision_icon_small.png"><a href="#v-vision">Our Vision</a></li>
        <li class=""><img src="css/images/services_icon_small.png"><a href="#services">Our Services</a></li>
        <li class=""><img src="css/images/sekeydates_icon_small.png"><a href="#keydates">Key Dates</a></li>
        <li class=""><img src="css/images/wins_icon_small.png"><a href="#golives">Featured Go-Lives</a></li>
        <li class=""><img src="css/images/references_icon.png"><a href="#references">References</a></li>
        <li class=""><img src="css/images/emp_icon_small.png"><a href="#empf">Employee Feature</a></li>
      </ul>
    </div>
  </div>
</div>
<!-----------------------------------VIDEO------------------------------------>
<div class="oj-row row2 newrow" id="row2">
  <div class="container">
    <div class="oj-flex">
      <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-xl-4 oj-flex-item">
        <div class="videoHamidoucontainer oj-margin">
          <div class="oj-sm-12 videoHamidoutitle">Hamidou Dia</div>
          <div class="videoHamidou">
            <div class="oj-sm-12 videoHamidoudesc">
              <div class="oj-flex">
                <div class="oj-sm-9"><span class="name">Senior Vice President,</span><br>
                  <span class="title">Sales Engineering & Cloud 
                  Customer Success</span></div>
                <div class="oj-sm-3"><a href="https://otube.oracle.com/media/Solutions+Engineer+and+Cloud+Customer+Success+All+Hands/0_w2kl22gc/2977" target="_blank" title="Solutions Engineering and Cloud Customer Success All Hands Webcast from Oracle HQ on Tuesday, June 27, 2017"><img src="css/images/play_icon.png" class="img-responsive"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!------------------------------------VISION------------------------------------> 
      <a class="anchor" id="v-vision"></a>
      <div class="oj-sm-12 oj-md-8 oj-lg-8 oj-xl-8 oj-flex-item " >
        <div class="oj-margin visioncontainer">
          <div class="oj-sm-12 visiontitle" id="vision"><img src="css/images/vision_icon_lg.png">&nbsp;Our Vision</div>
          <div class="oj-sm-12 visiondesc oj-flex">
            <div class="oj-sm-12 subtitle">Solution Engineering as a Service</div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/awareness_icon.png"></div>
              </div>
              <div class="blocks_title">Awareness</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/demand_icon.png"></div>
              </div>
              <div class="blocks_title">Demand</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner oppor"><img src="css/images/opportunity_icon.png"></div>
              </div>
              <div class="blocks_title">Opportunity</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/success_icon.png"></div>
              </div>
              <div class="blocks_title">Success</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/foundation_icon.png"></div>
              </div>
              <div class="blocks_title">Foundational</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/innovation_icon.png"></div>
              </div>
              <div class="blocks_title">Innovation</div>
            </div>
          </div>
          <div class="visiondesc2">
            <p>To take our customers problems and turn them into customer opportunities by 
              designing & building next-gen business solutions that leverage our entire Oracle 
              Cloud stack, our modern DevOps platform, our Agile development best practices, 
              and our very talented Cloud developers. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------SERVICES------------------------------------> 
<a class="anchor" id="services"></a>
<div class="oj-row row3 newrow" id="services_sec">
  <div class="container">
    <div class="col-sm-12 services ">
      <div class="oj-flex">
        <div class="oj-sm-12 servicestitle"><img src="css/images/services_icon_lg.png">&nbsp;Our Services</div>
        <div class="oj-sm-12 oj-margin-top">
          <div class="oj-flex"> <!------------ POPUP ------------------>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup1"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup1').ojPopup('close');
               }"></span>
                    <h3>Deliver a Cloud
                      Day</h3>
                    <span class="smalltext">Category : </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    <p></p>
                    <h4>SE Role Engagement </h4>
                    <p></p>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup1').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/cloud_day_icon.png"></div>
                </div>
                <div class="service_title">Deliver a Cloud<br>
                  Day</div>
              </div>
            </div>
            <!------------ POPUP ------------------>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup2"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup2').ojPopup('close');
               }"></span>
                    <h3>Develop a Cloud
                      Vision</h3>
                    <span class="smalltext">Category : Demand Generation</span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    This Solution-Engineering-as-a-Service includes:
                    <ul>
                      <li>Working with a customer to develop a vision for implementing Cloud technology in order to solve business problems with innovative solutions.</li>
                      <li>Leveraging Cloud Accelerate for LOB” or “ECAL Cloud Vision” engagement frameworks. </li>
                      <li>Identifying priority use cases, along with a conceptual/notional solution architecture.  storyboards, demos and/or prototypes to prove out the Cloud Solution vision.</li>
                    </ul>
                    <h4>SE Role Engagement </h4>
                    <ul>
                      <li>ECAs and/or Industry Advisors typically lead this engagement and function as the “Ideators” in Cloud Accelerate engagements. </li>
                      <li>Platform Specialists and/or Hub SEs participate as the “Prototypers” in any development of proofs of value. </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup2').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/cloud_vision_icon.png"></div>
                </div>
                <div class="service_title">Develop a Cloud<br>
                  Vision</div>
              </div>
            </div>
            <!------------ POPUP ------------------>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup3"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup3').ojPopup('close');
               }"></span>
                    <h3>Design a Cloud Solution </h3>
                    <span class="smalltext">Category : Opportunity Execution </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    This Solution-Engineering-as-a-Service includes:
                    <ul>
                      <li>Collaboratively working with a customer to turn their Cloud Vision into a robust Solution Presentation and Oracle Sales Proposal.</li>
                      <li>Producing a sales proposal, including developing logical and physical architectures, sizing current and future workloads, recommending phased implementation roadmaps, creating the intake provisioning document, solution presentation, and contributing to the Oracle Sales Proposal. </li>
                      <li>This service typically uses ECAL  Stages 2-4 as the underlying execution framework.</li>
                    </ul>
                    <h4>SE Role Engagement </h4>
                    <ul>
                      <li>ECAs lead this engagement and are responsible for the majority of the deliverables. </li>
                      <li>Platform Specialists and Hub SEs work on Portfolio and Workload Analysis efforts, contribute to the physical architecture designs, and provide foundation services as needed (e.g. Customer Discovery of current state IT Portfolio, Customer Demos, Sizing/Quoting/Config). </li>
                      <li>This service may spawn the “Build a POC” service</li>
                      <li>Business Value Consultants support any value-based activities and deliverables, which can also fall under the “Build a Business Case” service. </li>
                      <li>CSMs are responsible for ECAL Migration and Adoption Planning activities and deliverables, and the subsequent “Adopt a Cloud Solution” service. </li>
                      <li>For more information, see our ECAL website</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup3').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/cloud_solution_icon.png"></div>
                </div>
                <div class="service_title">Design a Cloud<br>
                  Solution</div>
              </div>
            </div>
            
            <!------------ POPUP ------------------>
            
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup4"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup4').ojPopup('close');
               }"></span>
                    <h3>Adopt a Cloud
                      Solution </h3>
                    <span class="smalltext">Category : </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    <h4>SE Role Engagement </h4>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup4').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/adopt_solution_icon.png"></div>
                </div>
                <div class="service_title">Adopt a Cloud<br>
                  Solution</div>
              </div>
            </div>
            
            <!------------ POPUP ------------------>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup5"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup5').ojPopup('close');
               }"></span>
                    <h3>Support a Marketing Event </h3>
                    <span class="smalltext">Category : </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    <h4>SE Role Engagement </h4>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup5').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/event_cal_icon.png"></div>
                </div>
                <div class="service_title">Support a Marketing<br>
                  Event</div>
              </div>
            </div>
            <!------------ POPUP ------------------>
            
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup6"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup6').ojPopup('close');
               }"></span>
                    <h3>Develop a Value
                      Hypothesis </h3>
                    <span class="smalltext">Category : </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    <h4>SE Role Engagement </h4>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup6').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/value_icon.png"></div>
                </div>
                <div class="service_title">Develop a Value<br>
                  Hypothesis</div>
              </div>
            </div>
            <!------------ POPUP ------------------>
            
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup7"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup7').ojPopup('close');
               }"></span>
                    <h3>Build a POC </h3>
                    <span class="smalltext">Category : </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    <h4>SE Role Engagement </h4>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup7').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/poc_icon.png"></div>
                </div>
                <div class="service_title">Build a POC</div>
              </div>
            </div>
            <!------------ POPUP ------------------>
            
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup8"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup8').ojPopup('close');
               }"></span>
                    <h3>Develop a Support Onboarding </h3>
                    <span class="smalltext">Category : </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    <h4>SE Role Engagement </h4>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup8').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/support_icon.png"></div>
                </div>
                <div class="service_title">Develop a Support<br>
                  Onboarding</div>
              </div>
            </div>
            <!------------ POPUP ------------------>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup9"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup9').ojPopup('close');
               }"></span>
                    <h3>Build an Executive
                      Briefing </h3>
                    <span class="smalltext">Category : </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    <h4>SE Role Engagement </h4>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup9').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/support_icon.png"></div>
                </div>
                <div class="service_title">Build an Executive<br>
                  Briefing</div>
              </div>
            </div>
            
            <!------------ POPUP ------------------>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup10"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup10').ojPopup('close');
               }"></span>
                    <h3>Create a Packaged
                      Proposal </h3>
                    <span class="smalltext">Category : </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    <h4>SE Role Engagement </h4>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup10').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/support_icon.png"></div>
                </div>
                <div class="service_title">Create a Packaged<br>
                  Proposal</div>
              </div>
            </div>
            <!------------ POPUP ------------------>
            
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup11"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup11').ojPopup('close');
               }"></span>
                    <h3>Build a Business
                      Case </h3>
                    <span class="smalltext">Category : </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    <h4>SE Role Engagement </h4>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup11').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/business_icon.png"></div>
                </div>
                <div class="service_title">Build a Business<br>
                  Case</div>
              </div>
            </div>
            <!------------ POPUP ------------------>
            
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup12"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading"> <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup12').ojPopup('close');
               }"></span>
                    <h3>Deliver a Health
                      Check </h3>
                    <span class="smalltext">Category : </span> </div>
                  <div class="popupdesc">
                    <h4>Description</h4>
                    <h4>SE Role Engagement </h4>
                  </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup12').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/business_icon.png"></div>
                </div>
                <div class="service_title">Deliver a Health<br>
                  Check
                  Case</div>
              </div>
            </div>
            
            <!------------ POPUP ------------------> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------CALENDAR------------------------------------> 
<a class="anchor" id="keydates"></a>
<div class="oj-row row5 newrow">
  <div class="container">
    <div class="col-sm-12 keydates">
      <div class="oj-flex">
        <div class="oj-sm-12 keydatestitle"><img src="css/images/sekeydates_icon_lg.png">&nbsp;Key Dates</div>
        <div class="oj-sm-12">
          <div class="oj-flex">
            <div class="oj-sm-12">
              <div class="oj-margin">
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <div class="oj-flex calevents">
                        <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Friday, September 15<br>
                          <br>
                          <span 
     class="oj-fwk-icon oj-fwk-icon-clock"></span>&nbsp;Time : 10:00 AM PST / 1:00 PM EST</p>
                      </div>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">iPaaS Community Call: OOW App Integration Updates</div>
                    <div class="oj-sm-12 oj-lg-3 calbutton">
                      <div class="orangeBbutton oj-lg-float-end"><a href="http://retriever.us.oracle.com/apex/f?p=121:22:4428811561900114::NO:RP:P22_CONTAINER_ID,P22_PREV_PAGE:80834,112" target="_blank">Replay</a></div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Friday, September 15<br>
                        <br>
                        <span 
     class="oj-fwk-icon oj-fwk-icon-clock"></span>&nbsp;Time : 10:00 AM PST / 1:00 PM EST</p>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">iPaaS Community Call: OOW Data Integration Updates</div>
                    <div class="oj-sm-12 oj-lg-3 calbutton ">
                      <div class="orangeBbutton oj-lg-float-end"><a href="http://retriever.us.oracle.com/apex/f?p=121:22:3360101599823767::NO:RP:P22_CONTAINER_ID,P22_PREV_PAGE:80834,112" target="_blank">Replay</a></div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Thursday, September 21<br>
                        <br>
                        <span 
     class="oj-fwk-icon oj-fwk-icon-clock"></span>&nbsp;Time : 8:30-9:30 a.m. Pacific</p>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">Analytics PM Call: Everything You Need to Know for OOW</div>
                    <div class="oj-sm-12 oj-lg-3 calbutton">
                      <div class="orangeBbutton oj-lg-float-end"><a href="http://retriever.us.oracle.com/apex/f?p=121:22:289065150287241::NO:RP:P22_CONTAINER_ID,P22_PREV_PAGE:77441,4684014" target="_blank">Replay</a></div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Wednesday, September 27<br>
                        <br>
                        <span 
     class="oj-fwk-icon oj-fwk-icon-clock"></span>&nbsp;Time : 12:00 PM PST / 3:00 PM EST</p>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">SE Excellence Community Call: OOW AppDev Updates</div>
                    <div class="oj-sm-12 oj-lg-3 calbutton">
                      <div class="orangeBbutton oj-lg-float-end"><a href="http://ilearning.oracle.com/ilearn/en/learner/jsp/offering_details_home.jsp?classid=2032578506" target="_blank">Webcast Registration</a></div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Wednesday, September 27<br>
                        <br>
                        <span 
     class="oj-fwk-icon oj-fwk-icon-clock"></span>&nbsp;Time : 10:00 AM PST / 1:00 PM EST</p>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">IaaS PM Webinar: OOW IaaS Updates</div>
                    <div class="oj-sm-12 oj-lg-3 calbutton">
                      <div class="orangeBbutton oj-lg-float-end"><a href="https://oracle.zoom.us/webinar/register/e540a365f8fd283fc5b9141539e44ee6" target="_blank">Webcast Registration</a></div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;TBD<br>
                        <br>
                        <span 
     class="oj-fwk-icon oj-fwk-icon-clock"></span>&nbsp;Time : TBD</p>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">DB Community Call: Penny Avril</div>
                    <div class="oj-sm-12 oj-lg-3 calbutton">
                      <div class="orangeBbutton oj-lg-float-end">Pending</div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Sunday, October 1st - Thursday, October 5th<br>
                        <br>
                      </p>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">Oracle OpenWorld</div>
                    <div class="oj-sm-12 oj-lg-3 calbutton">
                      <div class="orangeBbutton oj-lg-float-end"><a href="https://www.oracle.com/openworld/index.html" target="_blank">OOW Corporate Site</a></div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Thursday, October 12th<br>
                        <br>
                        &nbsp;</p>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">SE Accelerate Cloud Regional Road Show w/Hamidou Dia - NEW YORK</div>
                    <div class="oj-sm-12 oj-lg-3 calbutton">
                      <div class="orangeBbutton oj-lg-float-end">Regional Only Event<br>
                        See Calendar Invite</div>
                    </div>
                  </div>
                </div>
                <div class="oj-sm-12 oj-sm-center">
                  <div class="oj-flex valign">
                    <div class="oj-sm-12 oj-lg-4 oj-flex"></div>
                    <div class="oj-sm-12 oj-lg-5 oj-flex">
                      <button class="oj-sm-align-center oj-flex bluebutton ">See All</button>
                    </div>
                    <div class="oj-sm-12 oj-lg-3"><span class="oj-md-float-end">Missed out any course?<br>
                      <a href="#">Checkout Archives</a></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------Wins, Go-Lives and References------------------------------------> 
<a class="anchor" id="golives"></a>
<div class="oj-row row7 newrow">
  <div class="container">
    <div class="col-sm-12 wins  bgwhite">
      <div class="oj-flex">
        <div class="oj-sm-12 winstitle"><img src="css/images/featured_icon_lg.png">&nbsp;Featured Go-Lives</div>
        <div class="oj-sm-12">
          <div class="oj-flex">
            <div id="filmStripwins" class="oj-sm-12" data-bind="ojComponent: {component: 'ojFilmStrip',maxItemsPerPage: 2,arrowVisibility: 'visible'}">
              <div id="" class="my-filmstrip-item oj-flex-item oj-margin winsblock">
                <div id="animationDemo">
                  <div id="animatable" class="ani_container"> 
                    
                    <!-- back face of card -->
                    <div class="cardface backside oj-animation-backface">
                      <div class="wins_block oj-sm-12">
                        <div class="win_logo oj-sm-12">IKM</div>
                        <div class="oj-flex oj-sm-12 win_desc">
                          <p>Hear how the extended Oracle team worked together to navigate some very tricky internal processes.  This tight collaboration resulted in a successful Cloud go-live for IKM and our first GoldenGate reference. </p>
                          <div class="summaryButton oj-sm-12 oj-flex">
                            <div class="oj-sm-12">
                              <button class="oj-sm-align-center oj-flex" data-bind="click: buttonClick.bind($data, 'animatable')">Back</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- front face of card -->
                    <div class="cardface">
                      <div class="wins_block oj-sm-12">
                        <div class="win_logo oj-sm-12">IKM</div>
                        <div class="oj-flex oj-sm-12 win_desc">
                          <div class="oj-sm-6 imgblock"><img src="css/images/misha_img.png" class="img-responsive"></div>
                          <div class="oj-sm-6 textblock">
                            <div class="win_text">
                              <p>Hosted by : <br>
                                <span class="largetext">Misha Logvinov</span></p>
                              <p>This episode’s guest : <br>
                                <span class="largetext">Scott Sharpley</span></p>
                            </div>
                          </div>
                          <div class="summaryButton oj-sm-12 oj-flex">
                            <div class="oj-sm-12 oj-xl-6">
                              <button class="oj-sm-align-center oj-flex" data-bind="click: buttonClick.bind($data, 'animatable')">Quick Summary</button>
                            </div>
                            <div class="oj-sm-12 oj-xl-6 oj-flex"> <a href="https://otube.oracle.com/media/063017_GoLive_IKM.mp4/0_4dd4n269" target="_blank">Listen to Interview</a> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="" class="my-filmstrip-item oj-flex-item oj-margin winsblock">
                <div id="animationDemo">
                  <div id="animatable1" class="ani_container"> 
                    
                    <!-- back face of card -->
                    <div class="cardface backside oj-animation-backface">
                      <div class="wins_block oj-sm-12">
                        <div class="win_logo oj-sm-12"><img src="css/images/stanford-logo.png"></div>
                        <div class="oj-flex oj-sm-12 win_desc">
                          <p>Hear how we got our foot in the door at Stanford to prove that our Oracle Management Cloud was a better alternative to Splunk.  This initial win led to a successful go live and an expansion at Stanford. </p>
                          <div class="summaryButton oj-sm-12 oj-flex">
                            <div class="oj-sm-12">
                              <button class="oj-sm-align-center oj-flex" data-bind="click: buttonClick.bind($data, 'animatable1')">Back</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- front face of card -->
                    <div class="cardface">
                      <div class="wins_block oj-sm-12">
                        <div class="win_logo oj-sm-12"><img src="css/images/stanford-logo.png"></div>
                        <div class="oj-flex oj-sm-12 win_desc">
                          <div class="oj-sm-6 imgblock"><img src="css/images/misha_img.png" class="img-responsive"></div>
                          <div class="oj-sm-6 textblock">
                            <div class="win_text">
                              <p>Hosted by : <br>
                                <span class="largetext">Misha Logvinov</span></p>
                              <p>This episode’s guest : <br>
                                <span class="largetext">Venkat Uppuluri</span></p>
                            </div>
                          </div>
                          <div class="summaryButton oj-sm-12 oj-flex">
                            <div class="oj-sm-12 oj-xl-6">
                              <button class="oj-sm-align-center oj-flex" data-bind="click: buttonClick.bind($data, 'animatable1')">Quick Summary</button>
                            </div>
                            <div class="oj-sm-12 oj-xl-6 oj-flex"> <a href="https://otube.oracle.com/media/GoLive-Stanford/0_snf30ktm/-1" target="_blank">Listen to Interview</a> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------References------------------------------------> 
<a class="anchor" id="references"></a>
<div class="oj-row row6 newrow">
  <div class="container">
    <div class="oj-sm-12 references  bgwhite">
      <div class="oj-flex">
        <div class="oj-sm-12 refertitle"><img src="css/images/references_icon_lg.png">&nbsp;References</div>
        <div class="oj-md-6  oj-flex">
          <div class="oj-flex oj-sm-12 oj-margin referencesblock">
            <div class="oj-flex oj-sm-12  logorow">
              <div class="oj-sm-12 oj-lg-4"><a href="https://www.oracle.com/search/customers/_/N-p5vz?Nr=112&bcid=5508413926001" target="_blank"><img src="css/images/Exhibitor.png"></a></div>
              <div class="oj-sm-12 oj-lg-4"><a href="https://www.oracle.com/corporate/pressrelease/oracle-rac-iaas-050917.html" target="_blank"><img src="css/images/ICAT-300x120.png"></a></div>
              <div class="oj-sm-12 oj-lg-4"><a href="https://www.oracle.com/customers/astute-1-storage-cl.html" target="_blank"><img src="css/images/astute.png"></a></div>
            </div>
            <div class="oj-sm-12 button oj-flex"><a  class="whitebutton" href="https://www.oracle.com/search/customers/_/N-1joZp5vz?Nr=112" target="_blank">Search for IaaS Customers</a></div>
          </div>
        </div>
        <div class="oj-md-6  oj-flex">
          <div class="oj-flex oj-sm-12 oj-margin referencesblock">
            <div class="oj-flex oj-sm-12  ">
              <div class="oj-flex oj-sm-12 logorow">
                <div class="oj-sm-12 oj-lg-4"><a href="https://www.forbes.com/sites/oracle/2017/03/15/a-fintech-innovators-race-to-the-cloud/#18ac787315e5" target="_blank"><img src="css/images/calypso.png"></a></div>
                <div class="oj-sm-12 oj-lg-4"><a href="https://www.oracle.com/search/customers/_/N-1joZp5wb?Ntt=trek&Dy=1&Nty=1&Nr=112&Ntk=S1" target="_blank"><img src="css/images/Trek_Bicycle_Corporation_logo.svg.png"></a></div>
                <div class="oj-sm-12 oj-lg-4"><a href="https://www.oracle.com/customers/pragmatyxs-1-dbcs.html?msgid=gcp-PAAS" target="_blank"><img src="css/images/pragmatyxscolorlogo.png"></a></div>
              </div>
            </div>
            <div class="oj-sm-12 button oj-flex"><a class="whitebutton" href="https://www.oracle.com/search/customers/_/N-1joZp5wb?Nr=112" target="_blank">Search for PaaS Customers</a></div>
          </div>
        </div>
        <div class="oj-sm-12 oj-sm-center">
          <div class="oj-flex-item"> <a href="http://gcp.oraclecorp.com/ocpwb/f?p=144:2060:17175260936151" target="_blank">
            <button  class="oj-sm-align-center oj-flex bluebutton"> Request a Reference</button>
            </a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------Featured Stories------------------------------------> 
<a class="anchor" id="empf"></a>
<div class="oj-row row7 newrow">
  <div class="container">
    <div class="oj-sm-12 featured bgwhite">
      <div class="oj-flex">
        <div class="oj-sm-12 featuredtitle"><img src="css/images/emp_feature_lg.png">&nbsp;Employee Feature</div>
        <div class="oj-sm-12">
          <div class="oj-flex">
            <div id="filmStripfeatured" class="oj-sm-12" data-bind="ojComponent: {component: 'ojFilmStrip',maxItemsPerPage: 3,arrowVisibility: 'hidden'}">
              <div id="item1" class="my-filmstrip-item oj-sm-12 oj-margin">
                <div class="employee_c" style="background:url(css/images/JMinter_small.jpg);">
                  <div class="emp_details">
                    <div class="slash"></div>
                    <a data-bind="click:empf1">TECH TALENT FEATURE: It’s All in the Family - Elite Athletes</a></div>
                </div>
              </div>
            </div>
            <div id="pagingControl" data-bind="ojComponent: {
                   component: 'ojPagingControl', 
               data: getPagingModelfeatured(), 
               pageSize: 0, 
               pageOptions: {type: 'dots'}}"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="empfwrapper">
  <div style="display:none" id="empf1" title="TECH TALENT FEATURE: It’s All in the Family - Elite Athletes" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: { style: 'width: 50%;'}}">
     <div class="oj-dialog-body empf">
       <p><img src="css/images/JMinter_small.jpg" align="right">Our “Tech Talent” feature for October is Dustin Minter, Cloud Customer Success Manager, Public Sector/Enterprise.  Dustin has some mighty fine DNA.  His grandpa, Harry Minter, played for the Philadelphia Phillies baseball team, his father, Mike Minter, was on the NBA D-League team for the Dallas Mavericks, Dustin reached the Final Four of the Elite Eight Basketball tournament at Tarleton State University 2003-2006, his middle brother, Kyle, played soccer at the University of Memphis, and his youngest brother, Chase, is playing soccer in the MLS for Real Monarchs Salt Lake City. Dustin’s talents are a great addition to the Oracle Solution Engineering team as he brings to bear his winning and competitive legacy to help our customers succeed in the cloud. </p>
     </div>
     
  </div>


</div>