<!------------------------------------SLIDER------------------------------------>

<div class="oj-row" id="mainBar">
  <div id="filmstrip-overlaidpagingcontrol-example" class="homeslider">
    <div class="oj-panel">
      <div id="filmStripDiv slider" style="position: relative;">
        <div id="filmStrip" 
           data-bind="ojComponent: {
             component: 'ojFilmStrip', 
             maxItemsPerPage: 1, 
             arrowVisibility: currentNavArrowVisibility}" 
           > 
          <!-- ko foreach: slide -->
          <div class="oj-panel oj-panel-alt2 demo-filmstrip-item largeslide" 
             data-bind="style: {
               display: getItemInitialDisplay($index())}">
            <div data-bind="html: name,css:classname"></div>
          </div>
          <!-- /ko --> 
        </div>
        <div class="demo-overlaid-paging-control">
          <div id="pagingControl" 
             data-bind="ojComponent: {
               component: 'ojPagingControl', 
                 data: getPagingModelslider(), 
             pageSize: 0, 
               pageOptions: {type: 'dots'}}"> </div>
        </div>
      </div>
      <!-- end filmStripDiv --> 
    </div>
  </div>
</div>
<!-----------------------------------FIXED NAV------------------------------------>
<div class="oj-row ">
  <div id="setupBar" class="homesubnav oj-sm-12">
    <div class="container">
      <ul class="">
        <li class=""><img src="css/images/vision_icon_small.png"><a href="#vision">Our Vision</a></li>
        <li class=""><img src="css/images/services_icon_small.png"><a href="#services">Our Services</a></li>
        <li class=""><img src="css/images/sekeydates_icon_small.png"><a href="#keydates">Key Dates</a></li>
        <li class=""><img src="css/images/wins_icon_small.png"><a href="#golives">Featured Go-Lives</a></li>
        <li class=""><img src="css/images/wins_icon_small.png"><a href="#golives">References</a></li>
        <li class=""><img src="css/images/emp_icon_small.png"><a href="#empf">Employee Feature</a></li>
        
      </ul>
    </div>
  </div>
</div>
<!-----------------------------------VIDEO------------------------------------>
<div class="oj-row row2 newrow" id="row2">
  <div class="container">
    <div class="oj-flex">
      <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-xl-4 oj-flex-item">
        <div class="videoHamidoucontainer oj-margin">
          <div class="oj-sm-12 videoHamidoutitle">Hamidou Dia</div>
          <div class="videoHamidou">
            <div class="oj-sm-12 videoHamidoudesc">
              <div class="oj-flex">
                <div class="oj-sm-9"><span class="name">Senior Vice President,</span><br>
                  <span class="title">Sales Engineering & Cloud 
                  Customer Success</span></div>
                <div class="oj-sm-3"><img src="css/images/play_icon.png" class="img-responsive"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!------------------------------------VISION------------------------------------> 
      <a class="anchor" name="vision"></a>
      <div class="oj-sm-12 oj-md-8 oj-lg-8 oj-xl-8 oj-flex-item " >
        <div class="oj-margin visioncontainer">
          <div class="oj-sm-12 visiontitle" id="vision"><img src="css/images/vision_icon_lg.png">&nbsp;Our Vision</div>
          <div class="oj-sm-12 visiondesc oj-flex">
            <div class="oj-sm-12 subtitle"> Sales Engineering-as-a-Service </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/awareness_icon.png"></div>
              </div>
              <div class="blocks_title">Awareness</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/demand_icon.png"></div>
              </div>
              <div class="blocks_title">Demand</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner oppor"><img src="css/images/opportunity_icon.png"></div>
              </div>
              <div class="blocks_title">Opportunity</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/success_icon.png"></div>
              </div>
              <div class="blocks_title">Success</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/foundation_icon.png"></div>
              </div>
              <div class="blocks_title">Foundational</div>
            </div>
            <div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-2 blocks">
              <div class="blocks_icon">
                <div class="blocks_icon_inner"><img src="css/images/innovation_icon.png"></div>
              </div>
              <div class="blocks_title">Innovation</div>
            </div>
          </div>
          <div class="visiondesc2">
            <p>To take our customers problems and turn them into customer opportunities by 
              designing & building next-gen business solutions that leverage our entire Oracle 
              Cloud stack, our modern DevOps platform, our Agile development best practices, 
              and our very talented Cloud developers. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------SERVICES------------------------------------> 
<a class="anchor" name="services"></a>
<div class="oj-row row3 newrow" id="services_sec">
  <div class="container">
    <div class="col-sm-12 services ">
      <div class="oj-flex">
        <div class="oj-sm-12 servicestitle"><img src="css/images/services_icon_lg.png">&nbsp;Our Services</div>
        <div class="oj-sm-12 oj-margin-top">
          <div class="oj-flex">
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup1"
       data-bind="ojComponent:{component: 'ojPopup'}">
                <div class="popupcontainer">
                  <div class="popupheading">
                  <span class="oj-fwk-icon oj-fwk-icon-cross oj-sm-float-end closeicon" data-bind="
               click: function()
               {
                 $('#popup1').ojPopup('close');
               }"></span>
                 
                    <h3>Deliver a Cloud
                      Day</h3>
                      <span class="smalltext">Category : Demand Generation</span>
                  </div>
                  <div class="popupdesc"><h4>Description</h4><p>Work with a customer to develop a vision for implementing Cloud technology in order to solve business problems with innovative solutions.  Note: This service is typically provided using either “Cloud Accelerate for LOB” or “ECAL Cloud Vision” engagement frameworks.  In either case, priority use cases are identified along with a conceptual/notional solution architecture.  Storyboards, demos and/or prototypes may be used to prove out the Cloud Solution vision.
</p><h4>SE Role Engagement
</h4><p>ECAs and/or Industry Advisors typically lead this engagement and function as the “Ideators” in Cloud Accelerate engagements.  Platform Specialists and/or Hub SEs participate as the “Prototypers” in any development of proofs of value.
</p> </div>
                </div>
              </div>
              <div data-bind="
               click: function()
               {
                 $('#popup1').ojPopup('open', '#btnGo1');
                 
               }">
                <div  id="btnGo1"></div>
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/cloud_day_icon.png"></div>
                </div>
                <div class="service_title">Deliver a Cloud<br>
                  Day</div>
              </div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock" id="popupWrapper">
              <div class="container" style="display:none" id="popup2"
       data-bind="ojComponent:{component: 'ojPopup'}"> <span class="blink-rainbow">
                <h3>Develop a Cloud<br>
                  Vision</h3>
                Work with a customer to develop a vision for implementing Cloud technology in order to solve business problems with innovative solutions.  Note: This service is typically provided using either “Cloud Accelerate for LOB” or “ECAL Cloud Vision” engagement frameworks.  In either case, priority use cases are identified along with a conceptual/notional solution architecture.  Storyboards, demos and/or prototypes may be used to prove out the Cloud Solution vision. </span> </div>
              <div data-bind="
               click: function()
               {
                 $('#popup2').ojPopup('open', '#btnGo1');
                 
               }">
                <div class="service_icon">
                  <div class="service_icon_inner"><img src="css/images/cloud_vision_icon.png"></div>
                </div>
                <div class="service_title">Develop a Cloud Vision</div>
              </div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/cloud_solution_icon.png"></div>
              </div>
              <div class="service_title">Design a Cloud<br>
                Solution</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/adopt_solution_icon.png"></div>
              </div>
              <div class="service_title">Adopt a Cloud<br>
                Solution</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/event_cal_icon.png"></div>
              </div>
              <div class="service_title">Support a Marketing<br>
                Event</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/value_icon.png"></div>
              </div>
              <div class="service_title">Develop a Value<br>
                Hypothesis</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/poc_icon.png"></div>
              </div>
              <div class="service_title">Build a POC</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/support_icon.png"></div>
              </div>
              <div class="service_title">Develop a Support<br>
                Onboarding</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/exec_binding_icon.png"></div>
              </div>
              <div class="service_title">Build an Executive<br>
                Briefing</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/pack_icon.png"></div>
              </div>
              <div class="service_title">Create a Packaged<br>
                Proposal</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/business_icon.png"></div>
              </div>
              <div class="service_title">Build a Business<br>
                Case</div>
            </div>
            <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2 servicesblock">
              <div class="service_icon">
                <div class="service_icon_inner"><img src="css/images/deliver_icon.png"></div>
              </div>
              <div class="service_title">Deliver a Health<br>
                Check</div>
            </div>
            <div class="oj-sm-12 oj-sm-center">
              <div class="oj-flex-item">
                <button class="oj-sm-align-center oj-flex">Request Service via SCRM</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------CALENDAR------------------------------------> 
<a class="anchor" name="keydates"></a>
<div class="oj-row row5 newrow">
  <div class="container">
    <div class="col-sm-12 keydates">
      <div class="oj-flex">
        <div class="oj-sm-12 keydatestitle"><img src="css/images/sekeydates_icon_lg.png">&nbsp;Key Dates</div>
        <div class="oj-sm-12">
          <div class="oj-flex">
            <div class="oj-sm-12">
              <div class="oj-margin">
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <div class="oj-flex calevents">
                        <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Tuesday, August 23, 2017<br>
                          <br>
                          <span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Time : 9:30 PM IST - 10:30 PM IST</p>
                      </div>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">Community Call: Monthly Sales accounts call</div>
                    <div class="oj-sm-12 oj-lg-3 ">
                      <div class="orangeBbutton oj-lg-float-end">Add to Calendar</div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Tuesday, August 23, 2017<br>
                        <br>
                        <span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Time : 9:30 PM IST - 10:30 PM IST</p>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">Community Call: Monthly Sales accounts call</div>
                    <div class="oj-sm-12 oj-lg-3 ">
                      <div class="orangeBbutton oj-lg-float-end">Add to Calendar</div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Tuesday, August 23, 2017<br>
                        <br>
                        <span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Time : 9:30 PM IST - 10:30 PM IST</p>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">Community Call: Monthly Sales accounts call</div>
                    <div class="oj-sm-12 oj-lg-3 ">
                      <div class="orangeBbutton oj-lg-float-end">Add to Calendar</div>
                    </div>
                  </div>
                </div>
                <div class="calrow">
                  <div class="oj-flex">
                    <div class="oj-sm-12 oj-lg-4 cDate oj-flex">
                      <p><span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Tuesday, August 23, 2017<br>
                        <br>
                        <span 
     class="oj-fwk-icon oj-fwk-icon-calendar"></span>&nbsp;Time : 9:30 PM IST - 10:30 PM IST</p>
                    </div>
                    <div class="oj-sm-12 oj-lg-5 cTitle oj-flex">Community Call: Monthly Sales accounts call</div>
                    <div class="oj-sm-12 oj-lg-3 ">
                      <div class="orangeBbutton oj-lg-float-end">Add to Calendar</div>
                    </div>
                  </div>
                </div>
                <div class="oj-sm-12 oj-sm-center">
                  <div class="oj-flex valign">
                    <div class="oj-sm-12 oj-lg-4 oj-flex"></div>
                    <div class="oj-sm-12 oj-lg-5 oj-flex">
                      <button class="oj-sm-align-center oj-flex bluebutton ">See All</button>
                    </div>
                    <div class="oj-sm-12 oj-lg-3"><span class="oj-md-float-end">Missed out any course?<br>
                      <a href="#">Checkout Archives</a></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------Wins, Go-Lives and References------------------------------------> 
<a class="anchor" name="golives"></a>
<div class="oj-row row7 newrow">
  <div class="container">
    <div class="col-sm-12 wins  bgwhite">
      <div class="oj-flex">
        <div class="oj-sm-12 winstitle"><img src="css/images/featured_icon_lg.png">&nbsp;Featured Go-Lives</div>
        <div class="oj-sm-12">
          <div class="oj-flex">
            <div id="filmStripwins" class="oj-sm-12" data-bind="ojComponent: {component: 'ojFilmStrip',maxItemsPerPage: 2,arrowVisibility: 'visible'}">
              <div id="" class="my-filmstrip-item oj-flex-item oj-margin">
                <div class="wins_block oj-sm-12">
                  <div class="win_logo oj-sm-12"><img src="css/images/athene_logo.png"></div>
                  <div class="oj-flex oj-sm-12 win_desc">
                    <div class="oj-sm-6 imgblock"><img src="css/images/misha_img.png" class="img-responsive"></div>
                    <div class="oj-sm-6 textblock">
                      <div class="win_text">
                        <p>Hosted by : <br>
                          <span class="largetext">Misha Logvinov</span></p>
                        <p>This episode’s guest : <br>
                          <span class="largetext">Amos Savir-Baruch</span></p>
                      </div>
                    </div>
                    <div class="summaryButton oj-sm-12 oj-flex">
                      <div class="oj-sm-12 oj-xl-6">
                        <button class="oj-sm-align-center oj-flex">Quick Summary</button>
                      </div>
                      <div class="oj-sm-12 oj-xl-6">
                        <button class="oj-sm-align-center oj-flex">Listen to Interview</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="" class="my-filmstrip-item oj-flex-item oj-margin">
                <div class="wins_block oj-sm-12">
                  <div class="win_logo oj-sm-12"><img src="css/images/athene_logo.png"></div>
                  <div class="oj-flex oj-sm-12 win_desc">
                    <div class="oj-sm-6 imgblock"><img src="css/images/misha_img.png" class="img-responsive"></div>
                    <div class="oj-sm-6 textblock">
                      <div class="win_text">
                        <p>Hosted by : <br>
                          <span class="largetext">Misha Logvinov</span></p>
                        <p>This episode’s guest : <br>
                          <span class="largetext">Amos Savir-Baruch</span></p>
                      </div>
                    </div>
                    <div class="summaryButton oj-sm-12 oj-flex">
                      <div class="oj-sm-12 oj-xl-6">
                        <button class="oj-sm-align-center oj-flex">Quick Summary</button>
                      </div>
                      <div class="oj-sm-12 oj-xl-6">
                        <button class="oj-sm-align-center oj-flex">Listen to Interview</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------References------------------------------------> 
<a class="anchor" name="references"></a>
<div class="oj-row row6 newrow">
  <div class="container">
    <div class="oj-sm-12 references  bgwhite">
      <div class="oj-flex">
        <div class="oj-sm-12 refertitle"><img src="css/images/references_icon_lg.png">&nbsp;References</div>
        <div class="oj-md-6  oj-flex">
          <div class="oj-flex oj-sm-12 oj-margin referencesblock">
            <div class="oj-sm-12 oj-md-4"><img src="css/images/flexagon.png"></div>
            <div class="oj-sm-12 oj-md-4"><img src="css/images/radioshack.png"></div>
            <div class="oj-sm-12 oj-md-4"><img src="css/images/connectonebank.png"></div>
            <div class="oj-sm-12 button oj-flex"><a  class="whitebutton">Search for IaaS Customers</a></div>
          </div>
        </div>
        <div class="oj-md-6  oj-flex">
          <div class="oj-flex oj-sm-12 oj-margin referencesblock">
            <div class="oj-sm-12 oj-md-4"><img src="css/images/boise_state.jpg"></div>
            <div class="oj-sm-12 oj-md-4"><img src="css/images/club_corp.png"></div>
            <div class="oj-sm-12 oj-md-4"><img src="css/images/cogniaznt.png"></div>
            <div class="oj-sm-12 button oj-flex"><a class="whitebutton">Search for PaaS Customers</a></div>
          </div>
        </div>
        <div class="oj-sm-12 oj-sm-center">
          <div class="oj-flex-item">
            <button class="oj-sm-align-center oj-flex bluebutton">Request a Reference</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------Featured Stories------------------------------------> 
<a class="anchor" name="empf"></a>
<div class="oj-row row7 newrow">
  <div class="container">
    <div class="oj-sm-12 featured bgwhite">
      <div class="oj-flex">
        <div class="oj-sm-12 featuredtitle"><img src="css/images/emp_feature_lg.png">&nbsp;Employee Feature</div>
        <div class="oj-sm-12">
          <div class="oj-flex">
            <div id="filmStripfeatured" class="oj-sm-12" data-bind="ojComponent: {component: 'ojFilmStrip',maxItemsPerPage: 3,arrowVisibility: 'hidden'}">
              <div id="item1" class="my-filmstrip-item oj-sm-12 oj-margin">
                <div class="employee_c" style="background:url(css/images/employee_feature.jpg);">
                  <div class="emp_details">
                    <div class="slash"></div>
                    NATD employee csr story: News description descripton</div>
                </div>
              </div>
              <div id="item2" class="my-filmstrip-item oj-sm-12 oj-margin">
                <div class=" employee_c" style="background:url(css/images/hamidou_bg_1.jpg);">
                  <div class="emp_details">
                    <div class="slash"></div>
                    Leader’s featured story</div>
                </div>
              </div>
              <div id="item3" class="my-filmstrip-item oj-sm-12 oj-margin">
                <div class="employee_c" style="background:url(css/images/employee_feature.jpg);">
                  <div class="emp_details">
                    <div class="slash"></div>
                    NATD employee csr story: News description descripton</div>
                </div>
              </div>
              <div id="item3" class="my-filmstrip-item oj-sm-12 oj-margin">
                <div class="employee_c" style="background:url(css/images/employee_feature.jpg);">
                  <div class="emp_details">
                    <div class="slash"></div>
                    NATD employee csr story: News description descripton</div>
                </div>
              </div>
            </div>
            <div id="pagingControl" data-bind="ojComponent: {
                   component: 'ojPagingControl', 
               data: getPagingModelfeatured(), 
               pageSize: 0, 
               pageOptions: {type: 'dots'}}"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

