
<div class="container"> 
  <!-- SEARCH -->
  <form id="form1">
    <div class="search">
      <button id="createTrainingButton" class="reqtrain-button oj-xl-float-end admin" data-bind="ojComponent: {
                      component: 'ojButton',
                      label: 'Create Course'},click:openCreatetraining"> </button>
    </div>
    <div class="oj-flex search">
      <div class="oj-flex-item oj-sm-4 oj-md-2 oj-lg-2 labeldiv" style="display:none">
        <label>Catalogue</label>
      </div>
      <div class="oj-flex-item  oj-sm-12 oj-lg-8">
        <input id="search-input" placeholder="Search courses . . ." data-bind="ojComponent:{
                  component: 'ojInputSearch', 
                  value: searchtext,
                  update : refinecourses,
                  optionChange:searchcontent
                }" />
      </div>
      <div class="oj-flex-item oj-sm-12 oj-lg-4 oj-xl-4 req_block">
        <button id="trainingButton" class="reqtrain-button oj-xl-float-end" data-bind="ojComponent: {
                  component: 'ojButton',
                  chroming: 'full',
                  label: '+ Request Training'},click:openReqtraining"></button>
      </div>
    </div>
  </form>
  <div class="oj-flex coursesblock admin">
    <label id="switchLabel" for="switch">Admin View</label>
    <input id="switch" data-bind="ojComponent: {component: 'ojSwitch',value: switchadminview,optionChange:adminviewSelected}" />
  </div>
  <!-- COURSES -->
  <div class="oj-flex coursesblock">
    <div class="oj-flex-item oj-md-3 oj-lg-3">
      <div class="eblocks selectblock oj-flex-item  oj-sm-12" >
                  <div class="oj-flex oj-sm-12 refine">
                    <div class="oj-flex oj-sm-12 title">Training Type</div>
                  <div class="oj-sm-12 selectblockinner"> <div data-bind="ojModule: {name: 'filter'}"></div></div>
                </div>
                 </div>
      <div class="eblocks selectblock oj-flex-item  oj-sm-12" style="height: auto">
                  <div class="oj-flex oj-sm-12 refine">
                    <div class="oj-flex oj-sm-12 title">Refine Trainings</div>
                    
                  
                    <div class="oj-sm-12 selectblockinner">
                    <!-- ~~~~~~~~~~~~~ CATEGORIES ~~~~~~~~~~~~~~ --> 
                    <!-- ko if: refinelist().length>0 -->
                    <div class="titlesmall">Categories</div>
                    <!-- /ko -->
                    <ul class="refinelist">
                      <!-- ko foreach: refinelist -->
                      <li>
                        <div class="oj-flex">
                          <div class="oj-sm-1 oj-md-2 oj-lg-1">
                            <label>
                              <input type="checkbox" class="category" name="category" data-bind="value: id" onchange="refineupdate(this)">
                            </label>
                          </div>
                          <div class="oj-sm-11 oj-md-10 oj-lg-11"> <span data-bind="text: name"></span> </div>
                        </div>
                      </li>
                      <!-- /ko -->
                    </ul>
                    
                    <!-- ~~~~~~~~~~~~~ PRODUCT TYPE ~~~~~~~~~~~~~~ --> 
                    <!-- ko if: producttype().length>0 -->
                    <div class="titlesmall">Product Type</div>
                    <!-- /ko -->
                    <ul class="refinelist">
                      <!-- ko foreach: producttype -->
                      <li>
                        <div class="oj-flex">
                          <div class="oj-sm-1 oj-md-2 oj-lg-1">
                            <label>
                              <input type="checkbox" class="prodtype" name="prodtype" data-bind="value: name" onchange="refineupdate(this)">
                            </label>
                          </div>
                          <div class="oj-sm-11 oj-md-10 oj-lg-11"> <span data-bind="text: name"></span> </div>
                        </div>
                      </li>
                      
                      <!-- /ko -->
                    </ul>
                    
                    <!-- ~~~~~~~~~~~~~ TRAINING LEVEL ~~~~~~~~~~~~~~ --> 
                    <!-- ko if: training_levels().length>0 -->
                    <div class="titlesmall">Training Level</div>
                    <!-- /ko -->
                    <ul class="refinelist">
                      <!-- ko foreach: training_levels -->
                      <li>
                        <div class="oj-flex">
                          <div class="oj-sm-1 oj-md-2 oj-lg-1">
                            <label>
                              <input type="checkbox" class="traininglevel" name="traininglevel" data-bind="value: name" onchange="refineupdate(this)">
                            </label>
                          </div>
                          <div class="oj-sm-11 oj-md-10 oj-lg-11"> <span data-bind="text: name"></span> </div>
                        </div>
                      </li>
                      
                      <!-- /ko -->
                    </ul>
                    <!-- ~~~~~~~~~~~~~ TRAINING TYPE ~~~~~~~~~~~~~~ --> 
                    <!-- ko if: training_types().length>0 -->
                    <div class="titlesmall">Training Type</div>
                    <!-- /ko -->
                    <ul class="refinelist">
                      <!-- ko foreach: training_types -->
                      <li>
                        <div class="oj-flex">
                          <div class="oj-sm-1 oj-md-2 oj-lg-1">
                            <label>
                              <input type="checkbox" class="trainingtype" name="trainingtype" data-bind="value: name" onchange="refineupdate(this)">
                            </label>
                          </div>
                          <div class="oj-sm-11 oj-md-10 oj-lg-11"> <span data-bind="text: name"></span> </div>
                        </div>
                      </li>
                      
                      <!-- /ko -->
                    </ul>
                    <!-- ~~~~~~~~~~~~~ CITIES ~~~~~~~~~~~~~~ --> 
                    <!-- ko if: cities().length>0 -->
                    <div class="titlesmall">Cities</div>
                    <!-- /ko -->
                    <ul class="refinelist">
                      <!-- ko foreach: cities -->
                      <li>
                        <div class="oj-flex">
                          <div class="oj-sm-1 oj-md-2 oj-lg-1">
                            <label>
                              <input type="checkbox" class="cities" name="cities" data-bind="value: name" onchange="refineupdate(this)">
                            </label>
                          </div>
                          <div class="oj-sm-11 oj-md-10 oj-lg-11"> <span data-bind="text: name"></span> </div>
                        </div>
                      </li>
                      
                      <!-- /ko -->
                    </ul>
                    
                    <!-- ~~~~~~~~~~~~~ ROLES ~~~~~~~~~~~~~~ --> 
                    <!-- ko if: roles().length>0 -->
                    <div class="titlesmall">Roles</div>
                    <!-- /ko -->
                    <ul class="refinelist">
                      <!-- ko foreach: roles -->
                      <li>
                        <div class="oj-flex">
                          <div class="oj-sm-1 oj-md-2 oj-lg-1">
                            <label>
                              <input type="checkbox" class="roles" name="roles" data-bind="value: id" onchange="refineupdate(this)">
                            </label>
                          </div>
                          <div class="oj-sm-11 oj-md-10 oj-lg-11"> <span data-bind="text: name"></span> </div>
                        </div>
                      </li>
                      
                      <!-- /ko -->
                    </ul>
                    <div class="oj-flex refinebuttons">
                      <div class="oj-sm-12 oj-xl-6">
                        <button class="oj-sm-align-center oj-flex bluebutton" id="button" data-bind="click: refinecourses, 
                          ojComponent: { component: 'ojButton', label: 'Refine' }"> </button>
                      </div>
                      <div class="oj-sm-12 oj-xl-6">
                        <button class="oj-sm-align-center oj-flex orangebutton" id="button" data-bind="click: resetCourseFilters, 
                          ojComponent: { component: 'ojButton', label: 'Reset' }"> </button>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
    </div>
    <div class="oj-flex-item oj-md-9 oj-lg-9 rightcoursesblock">
      <div class="oj-margin-left">
        <div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion', multiple: true, 
                                                 expanded: newExpanded }">
          <div id="c1"> <span><span>PM On-demand</span></span>
            <div>
              <div class="oj-sm-12  blocks oj-flex-item">
                <div class="oj-flex oj-sm-12 blocksinner">
                  <div class="oj-sm-4 oj-md-2 oj-lg-2 oj-xl-1">
                    <div class="roundedwhite">L</div>
                  </div>
                  <div class="oj-sm-6 oj-md-9 oj-lg-9 oj-xl-10">
                    <div class="oj-margin"> 
                      <!-- <span class="badge">Mandatory Course</span> -->
                      <div class="coursetitle">TITLE</div>
                      <!--<div class="desc" data-bind="html:subdescription"></div>-->
                      <div class="desc">Type: <span class="desc">TYPE</span> / Level: <span class="desc">LEVEL</span> </div>
                    </div>
                  </div>
                  <div class="oj-sm-2 oj-md-1 oj-lg-1 oj-xl-1 linkblock"><a data-bind="" target="_blank" style="cursor:pointer"><img src="css/images/317-arrow-right2.png"></a></div>
                </div>
              </div>
            </div>
          </div>
          <div id="c2"> <span><span>ECA</span></span>
             <div>
              <div class="oj-sm-12  blocks oj-flex-item">
                <div class="oj-flex oj-sm-12 blocksinner">
                  <div class="oj-sm-4 oj-md-2 oj-lg-2 oj-xl-1">
                    <div class="roundedwhite">L</div>
                  </div>
                  <div class="oj-sm-6 oj-md-9 oj-lg-9 oj-xl-10">
                    <div class="oj-margin"> 
                      <!-- <span class="badge">Mandatory Course</span> -->
                      <div class="coursetitle">TITLE</div>
                      <!--<div class="desc" data-bind="html:subdescription"></div>-->
                      <div class="desc">Type: <span class="desc">TYPE</span> / Level: <span class="desc">LEVEL</span> </div>
                    </div>
                  </div>
                  <div class="oj-sm-2 oj-md-1 oj-lg-1 oj-xl-1 linkblock"><a data-bind="" target="_blank" style="cursor:pointer"><img src="css/images/317-arrow-right2.png"></a></div>
                </div>
              </div>
            </div>
          </div>
          <div id="c3"> <span><span>CSM</span></span>
             <div>
              <div class="oj-sm-12  blocks oj-flex-item">
                <div class="oj-flex oj-sm-12 blocksinner">
                  <div class="oj-sm-4 oj-md-2 oj-lg-2 oj-xl-1">
                    <div class="roundedwhite">L</div>
                  </div>
                  <div class="oj-sm-6 oj-md-9 oj-lg-9 oj-xl-10">
                    <div class="oj-margin"> 
                      <!-- <span class="badge">Mandatory Course</span> -->
                      <div class="coursetitle">TITLE</div>
                      <!--<div class="desc" data-bind="html:subdescription"></div>-->
                      <div class="desc">Type: <span class="desc">TYPE</span> / Level: <span class="desc">LEVEL</span> </div>
                    </div>
                  </div>
                  <div class="oj-sm-2 oj-md-1 oj-lg-1 oj-xl-1 linkblock"><a data-bind="" target="_blank" style="cursor:pointer"><img src="css/images/317-arrow-right2.png"></a></div>
                </div>
              </div>
            </div>
          </div>
           <div id="c4"> <span><span>OU</span></span>
             <div>
              <div class="oj-sm-12  blocks oj-flex-item">
                <div class="oj-flex oj-sm-12 blocksinner">
                  <div class="oj-sm-4 oj-md-2 oj-lg-2 oj-xl-1">
                    <div class="roundedwhite">L</div>
                  </div>
                  <div class="oj-sm-6 oj-md-9 oj-lg-9 oj-xl-10">
                    <div class="oj-margin"> 
                      <!-- <span class="badge">Mandatory Course</span> -->
                      <div class="coursetitle">TITLE</div>
                      <!--<div class="desc" data-bind="html:subdescription"></div>-->
                      <div class="desc">Type: <span class="desc">TYPE</span> / Level: <span class="desc">LEVEL</span> </div>
                    </div>
                  </div>
                  <div class="oj-sm-2 oj-md-1 oj-lg-1 oj-xl-1 linkblock"><a data-bind="" target="_blank" style="cursor:pointer"><img src="css/images/317-arrow-right2.png"></a></div>
                </div>
              </div>
            </div>
          </div>
           <div id="c4"> <span><span>Soft Skill</span></span>
             <div>
              <div class="oj-sm-12  blocks oj-flex-item">
                <div class="oj-flex oj-sm-12 blocksinner">
                  <div class="oj-sm-4 oj-md-2 oj-lg-2 oj-xl-1">
                    <div class="roundedwhite">L</div>
                  </div>
                  <div class="oj-sm-6 oj-md-9 oj-lg-9 oj-xl-10">
                    <div class="oj-margin"> 
                      <!-- <span class="badge">Mandatory Course</span> -->
                      <div class="coursetitle">TITLE</div>
                      <!--<div class="desc" data-bind="html:subdescription"></div>-->
                      <div class="desc">Type: <span class="desc">TYPE</span> / Level: <span class="desc">LEVEL</span> </div>
                    </div>
                  </div>
                  <div class="oj-sm-2 oj-md-1 oj-lg-1 oj-xl-1 linkblock"><a data-bind="" target="_blank" style="cursor:pointer"><img src="css/images/317-arrow-right2.png"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
