<style>
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
</style>
<div class="container">
  <!-- SEARCH -->
  <div class="oj-flex">
    <div class="oj-sm-12">
  <form id="form1">
    <div class="search">
      <button id="createTrainingButton" class="reqtrain-button oj-xl-float-end admin" data-bind="ojComponent: {
                      component: 'ojButton',
                      label: 'Create On-Demand Course'},click:createCourseModalOpen"> </button>
    </div>
    <div class="oj-flex search">
      <div class="oj-flex-item  oj-sm-12">
        <input id="search-input_ondemand" placeholder="Search on-demand courses . . ." data-bind="ojComponent:{
        component: 'ojInputSearch',
        value: searchtext_val,
        update : refineOnDemand
      }" />
      </div>      
    </div>
  </form>
</div>
  <div class="oj-sm-12 excol" align="right">
    <a href="#" data-bind="click:expandAll">Expand All</a> /
    <a href="#" data-bind="click:collapseAll">Close All</a>
  </div>
<!-- CREATE COURSE DIALOG START -->
    <div style="display:none" id=ondemand_course_dialog class="dialogbodymain" title="Create Course" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: { style: 'width: 80%; height: auto; min-width 240px; '}}">
      <div class="oj-dialog-footer" style="background-color: lightgray">

        <div class="oj-sm-8">
          <button class="bluebutton" id="create_course_id" data-bind="ojComponent: {component: 'ojButton', label: 'Create Course'},click:createOndemandCourse">
          </button>
          <button class="bluebutton" id="edit_course_id" data-bind="ojComponent: {component: 'ojButton', label: 'Edit Course'},click:editOndemandCourse">
          </button>          
        </div>
      </div>
      <div class="dialogbody">
        <div class="oj-flex">
          <!--  RIGHT PANEL -->
          <div class="oj-flex-item oj-sm-7 ">
            <div class="oj-flex oj-sm-12 inputrow">
              <div class="oj-sm-12">
                <label>On-Demand Course Name</label>
              </div>
              <div class="oj-sm-12">
                <input type="text" placeholder="" data-bind="ojComponent: {component: 'ojInputText',value:course_name ,rootAttributes: { style: 'width: 100%;'}}"
                />
              </div>
            </div>

            <div class="oj-flex inputrow">
              <div class="oj-flex-item">
                <div class="oj-sm-12">
                  <label>Roles</label>
                </div>
                <div class="oj-sm-12">
                  <select id="multiselect" data-bind="ojComponent: {component: 'ojSelect',
                                                                      multiple: true,
                                                                      options: roles_select,
                                                                      value:selected_vals,
                                                                      rootAttributes: {style:'max-width:20em'}}">

                  </select>
                </div>
              </div>
            </div>
            <div class="oj-flex oj-sm-12 inputrow">
              <div class="oj-sm-12">
                <label>URL</label>
              </div>
              <div class="oj-sm-12">
                <input type="text" placeholder="" data-bind="ojComponent: {component: 'ojInputText',value:course_url ,rootAttributes: { style: 'width: 100%;'}}"
                />
              </div>
            </div>
            <div class="oj-flex oj-sm-12 inputrow">
              <div class="oj-sm-12">
                <label>Summary</label>
              </div>
              <div class="oj-sm-12">
                <textarea type="text" placeholder="" data-bind="ojComponent: {component: 'ojInputText',value:course_summary ,rootAttributes: { style: 'width: 100%;'}}"></textarea>
              </div>
            </div>                        

          </div>
          <!--  SECTION SPACE -->
          <div class="oj-flex-item oj-sm-1"></div>
          <!--  LEFT PANEL -->
          <div class="oj-flex-item oj-sm-4 ">

            <div class="oj-sm-12">
              <button id="add_desc" onclick="openODemandDescriptionModal()">Add Description</button>
              <button id="edit_desc" onclick="openODemandDescriptionModal()">Edit Description</button>
              <label class="required">*</label>
            </div>
            <br>

            <label>Category
              <br>
            </label>
            <br>
            <div id="tree" style="width: 180px;height: auto;" data-bind="ojComponent:
          {
            component: 'ojTree',
            selectionMode: 'multiple',
            optionChange:onDemandCategorySelected,
            data:onDemandCategoryForUi
          }"> </div>

            <div class="oj-sm-12">
              <br>
            </div>
            <input id="selectedcategory" data-bind="ojComponent: {component: 'ojCombobox',optionChange:onDemandSelectedCategoryChanged, 
      multiple: true, value:onDemandSelectedCategoriesForUi,rootAttributes: {style:'font-size:9pt;min-width:100%'}}" />
          </div>
        </div>
      </div>
    </div>

<!-- CREATE COURSE DIALOG END -->

<!-- CK EDITOR FOR CREATE ON DEMAND COURSE -->
  <div style="display:none" class="dialogbodymain" id="ondemand_course_modal" title="Course Description" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: { style: 'width: 80%; height: auto; min-width 240px; '}}">
    <div class="oj-dialog-body roleWrapper">
      <div class="nomargin-md oj-margin-left">
        <div class="oj-flex">
          <div class="oj-sm-12">
            <label>Description </label>
            <label class="required">* [20000 characters limit]</label>
          </div>
          <div class="oj-sm-12">
            <textarea id="ondemand_course_editor" rows="6" cols="50" placeholder=""></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- CK EDITOR FOR CREATE ON DEMAND COURSE END-->  

<!-- Success/Error Message Start-->
<div id="snackbar" data-bind="text:message"></div>
<!-- Success/Error Message End-->

  <!-- delete community call confirmation start -->
  <div id="dialogWrapper">
    <div style="display:none" id="delete_ondemand" title="Delete Confirmation" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',cancelBehavior: 'icon',rootAttributes: { style: 'width: 35%; height: auto; min-width 100px; '}}">
      <div class="oj-dialog-body roleWrapper">
        <p align="center">Are you sure,you want to delete this ? </p>
      </div>
      <div class="oj-dialog-footer">
        <button style="cursor: pointer;" onclick="closeDeleteModal()" data-bind="ojComponent: {component: 'ojButton', label: 'Cancel'}">
        </button>

        <button id="delete_confirm" style="background: #d9534f;color: white;cursor: pointer;" data-bind="ojComponent: {component: 'ojButton', label: 'Delete'}">
        </button>
      </div>
    </div>
  </div>
  <!-- delete community call confirmation end -->

  <!-- on demand course details modal start -->
  <div style="display:none;height:500px" class="dialogbodymain" id="ondemand_course_details" title="On Demand Course Details" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: { style: 'width: 60%'}}">
    <div class="dialogbody">
      <div class="oj-flex">
        <div class="oj-lg-12">
          <p>
            <span data-bind="html:course_description"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- on demand course details modal end -->
  <!-- COURSES -->
  <div class="oj-flex oj-sm-12 coursesblock">
    <div class="oj-flex-item oj-md-3 oj-lg-3">
      <div class="eblocks selectblock oj-flex-item  oj-sm-12" >
                  <div class="oj-flex oj-sm-12 refine">
                    <div class="oj-flex oj-sm-12 title">Training Type</div>
                  <div class="oj-sm-12 selectblockinner"> <div data-bind="ojModule: {name: 'filter'}"></div></div>
                </div>
                 </div>
      <div class="eblocks selectblock oj-flex-item  oj-sm-12" style="height: auto">
                  <div class="oj-flex oj-sm-12 refine">
                    <div class="oj-flex oj-sm-12 title">Refine Trainings</div>
                  
                    <div class="oj-sm-12 selectblockinner">
                    <!-- ko if: role_list().length>0 -->
                    <div class="titlesmall">Roles</div>
                    <!-- /ko -->
                    <ul class="refinelist">
                      <!-- ko foreach: role_list -->
                      <li>
                        <div class="oj-flex">
                          <div class="oj-sm-1 oj-md-2 oj-lg-1">
                            <label>
                              <input type="checkbox" class="roles" name="roles" data-bind="value: id">
                            </label>
                          </div>
                          <div class="oj-sm-11 oj-md-10 oj-lg-11"> <span data-bind="text: name"></span> </div>
                        </div>
                      </li>
                      <!-- /ko -->
                    </ul>
                    <!-- ko if: main_category_list().length>0 -->
                    <div class="titlesmall">Categories</div>
                    <!-- /ko -->
                    <ul class="refinelist">
                      <!-- ko foreach: main_category_list -->
                      <li>
                        <div class="oj-flex">
                          <div class="oj-sm-1 oj-md-2 oj-lg-1">
                            <label>
                              <input type="checkbox" class="roles" name="categories" data-bind="value: id">
                            </label>
                          </div>
                          <div class="oj-sm-11 oj-md-10 oj-lg-11"> <span data-bind="text: name"></span> </div>
                        </div>
                      </li>
                      <!-- /ko -->
                    </ul>                    
                    <div class="oj-flex refinebuttons">
                      <div class="oj-sm-12 oj-xl-6">
                        <button class="oj-sm-align-center oj-flex bluebutton" data-bind="
                          ojComponent: { component: 'ojButton', label: 'Refine' }, click:refineOnDemand"> </button>
                      </div>
                      <div class="oj-sm-12 oj-xl-6">
                        <button class="oj-sm-align-center oj-flex orangebutton" data-bind="
                          ojComponent: { component: 'ojButton', label: 'Reset' }, click:resetOnDemand"> </button>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
    </div>
    <div class="oj-flex-item oj-md-9 oj-lg-9 rightcoursesblock">
      <div class="oj-margin-left">
	
      <script type="text/html" id="template2">
        <div class="oj-sm-12  blocks oj-flex-item">
            <div class="oj-sm-12 admin" style="margin-bottom: 5px;position:relative;z-index:1000"> <i class="fa fa-pencil-square-o admin" aria-hidden="true" style="cursor: pointer;float: right;margin-left: 5px" title="Edit Course"
            data-bind="click:function(){editCourseModalOpen(this)}" target="_blank"></i> <i class="fa fa-trash-o admin" aria-hidden="true" style="cursor: pointer;float: right;margin-left: 5px" title="Delete Course"
            data-bind="click:function(){deleteOnDemandCourse(this)}" target="_blank"></i> </div>
            <div class="oj-flex oj-sm-12 blocksinner">
              <div class="oj-sm-4 oj-md-2 oj-lg-2 oj-xl-1">
                <div class="roundedwhite" style="overflow: hidden;">
                  <img style="display:block;width:100%; max-width: 65px; max-height: 65px" data-bind="attr:{src: image}" />  
                </div>
              </div>
              <div class="oj-sm-6 oj-md-9 oj-lg-9 oj-xl-10">
                <div class="oj-margin"> 
                  <!-- <span class="badge">Mandatory Course</span> -->
                  <a data-bind="text: name, attr:{'href':url}" target="_blank"></a>
                  <!-- ko if: summary !=null -->
                  <div class="desc"><span data-bind="html:summary"/> </div>
                  <!-- /ko --> 
                </div>
              </div>
              <div class="oj-sm-2 oj-md-1 oj-lg-1 oj-xl-1 linkblock"><a data-bind="click:showOnDemandCourseDetails" target="_blank" style="cursor:pointer"><img src="css/images/317-arrow-right2.png"></a></div>
            </div>
          </div>
      </script>

      <script type="text/html" id="template1">
        <!-- ko if: courses.length>0-->
        <div data-bind="attr:{id:'id_'+category_id}, ojComponent: {component: 'ojCollapsible'}">
      		<div><span data-bind="text: category_name"></span></div>
          
        	<div> 
      	      <!-- ko template: { name: 'template1', foreach: $data.Child } -->
              <!-- /ko --> 
      				<!-- ko template: { name: 'template2', foreach: courses } --> 
              <!-- /ko -->
      		</div>
      	</div>    
        <!-- /ko --> 
      </script>

      <div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion', multiple: true, 
                                                       expanded: newExpanded }">
       <!-- ko foreach: toolslist -->
         <div data-bind="attr:{id:'id_'+category_id}, ojComponent: {component: 'ojCollapsible'}">
      			<div><span data-bind="text: category_name"></span></div>
      				<div>
      					
                <!-- ko template: { name: 'template2', foreach: courses } --> <!-- /ko --> 
      								 <!-- ko template: { name: 'template1', foreach: $data.Child } -->
                        <!-- /ko -->  
        			</div>
      	</div>	
       <!-- /ko -->  						
      </div>

      </div>
    </div>
  </div>
</div>
</div>
