<div id="popupWrapper" class="container">
<div class="oj-flex  bgwhite tools">

<div class="oj-sm-12">
<h1>Tools and Resources</h1>
</div>
<div class="oj-sm-12 oj-lg-3">
<div class=" oj-margin">
<p align="center"><strong>A - C</strong></p>
<ul>
	<li><div id="popupWrapper"><a href="https://retriever.us.oracle.com/apex/f?p=121:3:848366397445228:3::3:P3_PAGE_ID:4009" target="_blank">Account/Opp Planning</a>
  <div style="display:none;" class="toolspopup" id="popupsmall1"
       data-bind="ojComponent:{component: 'ojPopup',
                               chrome: 'none', 
                               position: {my: {'horizontal':'start',
                                               'vertical': 'top'}, 
                                          at: {'horizontal':'end',
                                               'vertical':'top'}
                                         },
                               modality: 'modeless'
                              }">
    <div style="text-align: center;">
     Account and Customer Engagement Planning Portal

    </div>
  </div>
  <button class="toolsbutton" id="btnGo" 
    data-bind="click: function()
                             {
                               $('#popupsmall1').ojPopup('open', '#btnGo');
                             }"><img src="css/images/infoicon.png">
  </button>
</div></li>
	<li><a href="https://people.us.oracle.com/pls/oracle/f?p=8000:1" target="_blank">Aria People Search</a></li>
	<li><a href="https://docs.us-phoenix-1.oraclecloud.com/Content/GSG/Concepts/baremetalintro.htm" target="_blank">Bare Metal Cloud Documentation</a></li>
	<li><a href="https://cldcentraladmininternal.us1.cloud.oracle.com/mycloud/f?p=5900:1:113284602354534::NO:::" target="_blank">CCA (Cloud Central Administration)</a></li>
	<li><a href="https://confluence.oraclecorp.com/confluence/display/OCF/CLM+application+access+request+from+OIM" target="_blank">CLM Cloud System Access via OIM</a></li>
	<li><a href="https://ptp.oraclecorp.com/pls/apex/f?p=151:1:4179720166267::::DP,DL,DV,DJ,DT,DI,DN,DC,DG,DO:1,121,1961,0,0,0,0,0,0,0" target="_blank">CLM Desk Manual</a> </li>
	<li><a href="http://innovate.us.oracle.com/cloudaccelerate/" target="_blank">Cloud Accelerate</a></li>
	<li><a href="https://stbeehive.oracle.com/teamcollab/wiki/PaaS_IaaS_FAQ:Architecture+FAQ?mode=print" target="_blank">Cloud Architecture FAQ</a></li>
	<li><a href="http://docs.oracle.com/en/cloud/get-started/index.html">Cloud Documentation</a></li>
	<li><a href="https://oalapp-fusioncrm.oraclecorp.com/oalapp/web/clm/">Cloud Lifecycle Management Tool (CLM)</a></li>
	<li><a href="http://globalbusinessfinance.oraclecorp.com/mediawiki/images/gbf/7/7a/Cloud_Reporting_Definitions_updated_July_2015.pdf">Cloud Reporting Definitions</a></li>
	<li><a href="https://cloud.oracle.com/opc/iaas/whitepapers/Oracle_Cloud_Security_Whitepaper.pdf">Cloud Security Whitepaper</a></li>
	<li><a href="https://stbeehive.oracle.com/teamcollab/wiki/Oracle+Public+Cloud+Collaboration:0_Oracle+Cloud+Team+Points+of+Contact">Cloud Team Points of Contact</a></li>
	<li><a href="http://database.us.oracle.com/pls/htmldb/f?p=202:13:9538941216119::NO:::">COE Escalations Application</a></li>
	<li><a href="https://confluence.oraclecorp.com/confluence/display/Salesenable/Cloud+Ops+Sales+Enablement+Port">Confluence Site</a></li>
	<li><a href="http://www.oracle.com/us/corporate/contracts/saas-csa-us-2069270.pdf">CSA (Cloud Service Agreement)</a></li>
	<li><a href="https://apex.oraclecorp.com/pls/apex/f?p=24475:1:110622515646759">CSM Lookup Tool</a></li>
</ul>
</div>
</div>
<div class="oj-sm-12 oj-lg-3">
<div class=" oj-margin">
<p align="center"><strong>D - I</strong></p>
<ul>
	<li><a href="http://database.us.oracle.com/pls/htmldb/f?p=301:5">Database PM Site</a></li>
	<li><a href="http://digital-se.us.oracle.com/">Digital SE</a></li>
	<li><a href="http://innovate.us.oracle.com/ecal/">Enterprise Cloud Adoption Lifecycle (eCAL)</a></li>
	<li><a href="http://esource.oraclecorp.com/portal/pls/portal/esrc.esr_main.home?p_main_tab_id=1">Esource</a></li>
	<li><a href="http://my.oracle.com/site/pd/fmw/solutions/cloud/index.html">FMW PM Site</li>
	<li><a href="https://ptp.oraclecorp.com/pls/apex/f?p=151:1:9035111522453::::DP,DL,DV,DJ,DT,DI,DN,DC,DG,DO,DA:51,0,0,0,0,0,0,0,0,0,1">Global Desk Manual Repository</a></li>
	<li><a href="https://demo.oracle.com/apex/f?p=DEMOWEB:1:10720583262872:::::">GSE (Demo Central)</a></li>
	<li><a href="https://demo.oracle.com/">GSE Demo Website</a></li>
	<li><a href="https://www.oracle.com/search/customers/_/N-1joZp5vz?Nr=112">IaaS North America References</a></li>
	<li><a href="https://my.oracle.com/site/cloudsol/public/IaaS/Overview/index.html">IaaS PM Site</a></li>
	<li><a href="https://mosemp.us.oracle.com/mosspui/src/sr/viewer/index.html">Individual SR Portal</a></li>
	<li><a href="https://support.us.oracle.com/oip/faces/index.jspx">Internal Support Portal</a></li>
</ul>


</div>
</div>
<div class="oj-sm-12 oj-lg-3">
<div class=" oj-margin">
<p align="center"><strong>L - Q</strong></p>
<ul>
	<li><a href="http://my.oracle.com/site/mktg/gic/ITK%20Home/index.htm?Auth=Internet">My Oracle</a></li>
	<li><a href="https://support.oracle.com/epmos/faces/Dashboard?_afrLoop=488066393364294&_afrWindowMode=0&_adf.ctrl-state=15923ufbu6_4">My Oracle Support</a></li>
	<li><a href="https://confluence.oraclecorp.com/confluence/display/CWR/NA+Cloud+War+Room+-+Open+Issues">NAS Cloud War Room</a></li>
	<li><a href="https://apex.oraclecorp.com/pls/apex/f?p=15811:1:5269312935402:::::">NATD CSM Lookup</a></li>
	<li><a href="https://confluence.oraclecorp.com/confluence/pages/viewpage.action?pageId=407114402">NATD Customer Success PaaS/IaaS</a></li>
	<li><a href="https://apex.oraclecorp.com/pls/apex/f?p=32586:1:103186921226040">NATD FY18 Customer Success Segmentation Model </a></li>
	<li><a href="http://docs.oracle.com/en/cloud/get-started/index.html">NATD SE Cloud Platform Specialists</a></li><!--No Hyperlink Given-->
	<li><a href="http://docs.oracle.com/en/cloud/get-started/index.html">NATD SE Industry Advisors </a></li><!--No Hyperlink Given-->
	<li><a href="https://global-apex.oraclecorp.com/apex/f?p=123:1:311319241474947:::::">OIP Lite</a></li>
	<li><a href="https://my.oracle.com/site/pd/fmw/platform/cnt2665909.pdf">OPC PaaS RACI</a></li>
	<li><a href="http://innovate.us.oracle.com:81/opcworkshops/index.html">OPC Workshops</a></li>
	<li><a href="https://confluence.oraclecorp.com/confluence/display/NCSP/Oracle+Acronyms">Oracle Acronyms</a></li>
	<li><a href="https://confluence.oraclecorp.com/confluence/display/SALESENABLE/Oracle+Cloud+Ops+Compliance+Status">Oracle Cloud Compliance Status</a></li>
	<li><a href="https://my.oracle.com/content/web/CNT2462961">Oracle Cloud Learning Subscriptions</a></li>
	<li><a href="http://solutionengineering.us.oracle.com/site/">Oracle Cloud Solutions Hubs</a></li>
	<li><a href="..\events.us.oracle.com">Oracle Customer Events: Field Marketing and Corporate</a></li>
	<li><a href="https://apexapps.oracle.com/pls/apex/f?p=44785:5:13315155904435::NO::P5_PRODUCT:Cloud">Oracle Learning Library - Cloud</a></li>
	<li><a href="http://my.oracle.com/site/cloudsol/public/infrastructure/index.htm">Oracle PM OPC Website</a></li>
	<li><a href="https://cloud.oracle.com/home">Oracle Public Cloud</a></li>
	<li><a href="https://crm-fusioncrm.oracle.com/sales/faces/FuseWelcome?_adf.no-new-window-redirect=true&_adf.ctrl-state=14b1qefx5b_5&_afrLoop=269775379500619&_afrWindowMode=2&_afrWindowId=null">Oracle Sales Cloud</a></li>
	<li><a href="https://socialnetwork.oracle.com/osn/web/">OSN (Oracle Social Network)</a></li>
	<li><a href="https://www.oracle.com/search/customers/_/N-1joZp5wb?Nr=112">PaaS North America References</a></li>
	<li><a href="https://gcwap.oraclecorp.com/apex/f?p=1055:1:6421292724191:::::">Product Release Cycles and Roadmaps</a></li>
	<li><a href="http://my.oracle.com/pls/myo/utls_qsv_html.survey_overview">QuickSurvey</a></li>
</ul>
</div>

</div>
<div  class="oj-sm-12 oj-lg-3">
<div class=" oj-margin">
<p align="center"><strong>R - Z</strong></p>
<ul>
	<li><a href="http://gcp.oraclecorp.com/ocpwb/f?p=144:2060:17175260936151:::::">Reference Request Tool</a></li>
	<li><a href="https://cloudops-knowledgebase.custhelp.com/app/home">RFP Knowledge Base</a></li>
	<li><a href="https://apex-fusioncrm.oraclecorp.com/apex/f?p=115:2:204917934235::NO::P2_SEARCH_FLAG,P2_ACCOUNT_NAME,P2_ACCOUNT_NUM,P2_SALES_REP,P2_RESOURCE_RL,P2_COUNTRY,P2_SHOW_HIDE_DUP,P2_PARTNER:N,">Sales Lookup Tool</a></li>
	<li><a href="https://apex-fusioncrm.oraclecorp.com/apex/f?p=112:1">SC Time Application (SCTA)</a></li>
	<li><a href="http://salescallonline.us.oracle.com/mytab/">SCO (Sales Call Online)</a></li>
	<li><a href="https://scrm.oraclecorp.com/">SCRM</a></li>
	<li><a href="https://global-ebusiness.oraclecorp.com/OA_HTML/OA.jsp?page=/oracle/apps/fnd/framework/navigate/webui/HomePG&homePage=Y&OAPB=FWK_HOMEPAGE_BRAND&transactionid=871542586&oapc=2&oas=osJBRbqW1sQ-EpUBqQIJuA..">Self Service</a></li>
	<li><a href="http://innovate.us.oracle.com:7007/tab_website/">Solution Bank </a></li>
	<li><a href="https://solutionfactory.us.oracle.com/">Solution Factory</a></li>
	<li><a href="https://apex.oraclecorp.com/pls/apex/f?p=18451:55:114847428244197:::::">Support - One Stop Shop</a></li>
</ul>
</div>
</div>
</div>
</div>