<div id="popupWrapper" class="container">
<div class="oj-flex  bgwhite tools">

<div class="oj-sm-12">
<h1>Tools and Resources</h1>
</div>
<div class="oj-sm-12 oj-lg-3">
<div class=" oj-margin">
<p align="center"><strong>A - C</strong></p>
<ul>
	<li><div id="popupWrapper"><a href="https://retriever.us.oracle.com/apex/f?p=121:3:848366397445228:3::3:P3_PAGE_ID:4009" target="_blank">Account/Opp Planning</a>
  <div style="display:none;" class="toolspopup" id="popupsmall1"
       data-bind="ojComponent:{component: 'ojPopup',
                               chrome: 'none', 
                               position: {my: {'horizontal':'start',
                                               'vertical': 'top'}, 
                                          at: {'horizontal':'end',
                                               'vertical':'top'}
                                         },
                               modality: 'modeless'
                              }">
    <div style="">
     Account and Customer Engagement Planning Portal

    </div>
  </div>
  <button class="toolsbutton" id="btnGo" 
    data-bind="click: function()
                             {
                               $('#popupsmall1').ojPopup('open');
                             }"><img src="css/images/infoicon.png">
  </button>
</div></li>
	<li><div id="popupwrapper"><a href="https://people.us.oracle.com/pls/oracle/f?p=8000:1" target="_blank">Aria People Search</a>
		<div style="display:none;" class="toolspopup" id="popupsmall2"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
	  Find Oracle Employee
 
	 </div>
   </div>
		<button class="toolsbutton" id="btngo2"
		data-bind="click: function()
		{
			$('#popupsmall2').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div></li>
										
	
	<li><div id="popupwrapper"><a href="https://docs.us-phoenix-1.oraclecloud.com/Content/GSG/Concepts/baremetalintro.htm" target="_blank">Bare Metal Cloud Documentation</a>
		<div style="display:none;" class="toolspopup" id="popupsmall3"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			All official Oracle documentation on Bare Metal products
			
 
	 </div>
   </div>
		<button class="toolsbutton" id="btngo3"
		data-bind="click: function()
		{
			$('#popupsmall3').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div></li>
	
	<li><div id="popupwrapper"><a href="https://cldcentraladmininternal.us1.cloud.oracle.com/mycloud/f?p=5900:1:113284602354534::NO:::" target="_blank">CCA (Cloud Central Administration)</a>
		<div style="display:none;" class="toolspopup" id="popupsmall4"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Internal cloud operations site	
			
 
	 </div>
   </div>
		<button class="toolsbutton" id="btngo4"
		data-bind="click: function()
		{
			$('#popupsmall4').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://confluence.oraclecorp.com/confluence/display/OCF/CLM+application+access+request+from+OIM" target="_blank">CLM Cloud System Access via OIM</a>
		<div style="display:none;" class="toolspopup" id="popupsmall5"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			CLM Account Stakeholder Access: For all users with a territory assigned in Oracle Sales Cloud (OSC)			
			
 
	 </div>
   </div>
		<button class="toolsbutton" id="btngo5"
		data-bind="click: function()
		{
			$('#popupsmall5').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	
	</li>
	<li><div id="popupwrapper"><a href="https://ptp.oraclecorp.com/pls/apex/f?p=151:1:4179720166267::::DP,DL,DV,DJ,DT,DI,DN,DC,DG,DO:1,121,1961,0,0,0,0,0,0,0" target="_blank">CLM Desk Manual</a>
		<div style="display:none;" class="toolspopup" id="popupsmall6"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Customer Lifecycle Management Training Materials 			
			
 
	 </div>
   </div>
		<button class="toolsbutton" id="btngo6"
		data-bind="click: function()
		{
			$('#popupsmall6').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://innovate.us.oracle.com/cloudaccelerate/" target="_blank">Cloud Accelerate</a>
		<div style="display:none;" class="toolspopup" id="popupsmall7"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Cloud Accelerate is designed to visualize a customer's journey to the cloud, align the right tools to help them achieve their business goals, and accelerate your sales process. During the engagement, you will capture a customer's vision in the Ideation Phase, visualize the solution through the Prototype Phase, and execute the vision inside the Impact Phase.			
			
 
	 </div>
   </div>
		<button class="toolsbutton" id="btngo7"
		data-bind="click: function()
		{
			$('#popupsmall7').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://stbeehive.oracle.com/teamcollab/wiki/PaaS_IaaS_FAQ:Architecture+FAQ?mode=print" target="_blank">Cloud Architecture FAQ</a>
		<div style="display:none;" class="toolspopup" id="popupsmall8"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Internal only cloud architecture FAQ			
			
 
	 </div>
   </div>
		<button class="toolsbutton" id="btngo8"
		data-bind="click: function()
		{
			$('#popupsmall8').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://docs.oracle.com/en/cloud/get-started/index.html">Cloud Documentation</a>
		<div style="display:none;" class="toolspopup" id="popupsmall9"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			All official Oracle documentation on cloud products (excluding Bare Metal)			
			
 
	 </div>
   </div>
		<button class="toolsbutton" id="btngo9"
		data-bind="click: function()
		{
			$('#popupsmall9').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://oalapp-fusioncrm.oraclecorp.com/oalapp/web/clm/">Cloud Lifecycle Management Tool (CLM)</a>
		<div style="display:none;" class="toolspopup" id="popupsmall10"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Primary customer relation management tool for the CSM organization			
			
 
	 </div>
   </div>
		<button class="toolsbutton" id="btng10"
		data-bind="click: function()
		{
			$('#popupsmall10').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://globalbusinessfinance.oraclecorp.com/mediawiki/images/gbf/7/7a/Cloud_Reporting_Definitions_updated_July_2015.pdf">Cloud Reporting Definitions</a>
		<div style="display:none;" class="toolspopup" id="popupsmall11"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			This document is a complement to the Cloud Glossary of Terms embedded in the Cloud GBP
			Play Book on eSource. The Cloud Glossary of Terms covers terminology that is used in
			customer facing documents such as Order Documents and the Cloud Master Agreement. 					
			
 
	 </div>
   </div>
		<button class="toolsbutton" id="btng11"
		data-bind="click: function()
		{
			$('#popupsmall11').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://cloud.oracle.com/opc/iaas/whitepapers/Oracle_Cloud_Security_Whitepaper.pdf">Cloud Security Whitepaper</a>
		<div style="display:none;" class="toolspopup" id="popupsmall12"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			White paper detailing Oracle Cloud security			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng12"
		data-bind="click: function()
		{
			$('#popupsmall12').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://stbeehive.oracle.com/teamcollab/wiki/Oracle+Public+Cloud+Collaboration:0_Oracle+Cloud+Team+Points+of+Contact">Cloud Team Points of Contact</a>
		<div style="display:none;" class="toolspopup" id="popupsmall13"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			PM and development contacts for cloud products			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng13"
		data-bind="click: function()
		{
			$('#popupsmall13').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://database.us.oracle.com/pls/htmldb/f?p=202:13:9538941216119::NO:::">COE Escalations Application</a>
		<div style="display:none;" class="toolspopup" id="popupsmall14"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Utilized for all COE issues			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng14"
		data-bind="click: function()
		{
			$('#popupsmall14').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://confluence.oraclecorp.com/confluence/display/Salesenable/Cloud+Ops+Sales+Enablement+Port">Confluence Site</a>
		<div style="display:none;" class="toolspopup" id="popupsmall15"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Cloud operations information			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng15"
		data-bind="click: function()
		{
			$('#popupsmall15').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://www.oracle.com/us/corporate/contracts/saas-csa-us-2069270.pdf">CSA (Cloud Service Agreement)</a>
		<div style="display:none;" class="toolspopup" id="popupsmall16"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Customer facing CSA			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng16"
		data-bind="click: function()
		{
			$('#popupsmall16').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://apex.oraclecorp.com/pls/apex/f?p=24475:1:110622515646759">CSM Lookup Tool</a>
		<div style="display:none;" class="toolspopup" id="popupsmall17"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Tool to identify the CSM assigned to specific customers			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng17"
		data-bind="click: function()
		{
			$('#popupsmall17').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
</ul>
</div>
</div>
<div class="oj-sm-12 oj-lg-3">
<div class=" oj-margin">
<p align="center"><strong>D - I</strong></p>
<ul>
	<li><div id="popupwrapper"><a href="http://database.us.oracle.com/pls/htmldb/f?p=301:5">Database PM Site</a>
		<div style="display:none;" class="toolspopup" id="popupsmall18"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Database PM site			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng18"
		data-bind="click: function()
		{
			$('#popupsmall18').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://digital-se.us.oracle.com/">Digital SE</a>
		<div style="display:none;" class="toolspopup" id="popupsmall19"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Learn more about NATD's SE transformation initiatives. 			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng19"
		data-bind="click: function()
		{
			$('#popupsmall19').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://innovate.us.oracle.com/ecal/">Enterprise Cloud Adoption Lifecycle (eCAL)</a>
		<div style="display:none;" class="toolspopup" id="popupsmall20"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			ECAL is used by the NATD Solution Engineering organization as an iterative process and content framework in support of helping customers to strategize, design, develop, deploy and adopt Oracle cloud solutions as part of Oracle Sales customer engagements. These engagements are geared towards accelerating Oracle’s Cloud Services market share via a Land, Adopt, Renew and Expand strategy.			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng20"
		data-bind="click: function()
		{
			$('#popupsmall20').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://esource.oraclecorp.com/portal/pls/portal/esrc.esr_main.home?p_main_tab_id=1">Esource</a>
		<div style="display:none;" class="toolspopup" id="popupsmall21"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Pricing lists for all of Oracle's products			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng21"
		data-bind="click: function()
		{
			$('#popupsmall21').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://my.oracle.com/site/pd/fmw/solutions/cloud/index.html">FMW PM Site</a>
		<div style="display:none;" class="toolspopup" id="popupsmall22"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Cloud FMW PaaS Product Management Site			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng22"
		data-bind="click: function()
		{
			$('#popupsmall22').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://ptp.oraclecorp.com/pls/apex/f?p=151:1:9035111522453::::DP,DL,DV,DJ,DT,DI,DN,DC,DG,DO,DA:51,0,0,0,0,0,0,0,0,0,1">Global Desk Manual Repository</a>
		<div style="display:none;" class="toolspopup" id="popupsmall23"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			A repository for a variety of cloud processes and templated documentations			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng23"
		data-bind="click: function()
		{
			$('#popupsmall23').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://demo.oracle.com/apex/f?p=DEMOWEB:1:10720583262872:::::">GSE (Demo Central)</a>
		<div style="display:none;" class="toolspopup" id="popupsmall24"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Internal demo environments and scripts			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng24"
		data-bind="click: function()
		{
			$('#popupsmall24').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://demo.oracle.com/">GSE Demo Website</a>
		<div style="display:none;" class="toolspopup" id="popupsmall25"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Key SE site to leverage and request demos. 			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng25"
		data-bind="click: function()
		{
			$('#popupsmall25').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://www.oracle.com/search/customers/_/N-1joZp5vz?Nr=112">IaaS North America References</a>
		<div style="display:none;" class="toolspopup" id="popupsmall26"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Find all North America IaaS References on this link. 			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng26"
		data-bind="click: function()
		{
			$('#popupsmall26').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://my.oracle.com/site/cloudsol/public/IaaS/Overview/index.html">IaaS PM Site</a>
		<div style="display:none;" class="toolspopup" id="popupsmall27"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Product management site for Cloud IaaS products			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng27"
		data-bind="click: function()
		{
			$('#popupsmall27').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://mosemp.us.oracle.com/mosspui/src/sr/viewer/index.html">Individual SR Portal</a>
		<div style="display:none;" class="toolspopup" id="popupsmall28"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Look up individual Service Request			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng28"
		data-bind="click: function()
		{
			$('#popupsmall28').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://support.us.oracle.com/oip/faces/index.jspx">Internal Support Portal</a>
		<div style="display:none;" class="toolspopup" id="popupsmall29"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Internal support portal			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng29"
		data-bind="click: function()
		{
			$('#popupsmall29').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
</ul>


</div>
</div>
<div class="oj-sm-12 oj-lg-3">
<div class=" oj-margin">
<p align="center"><strong>L - Q</strong></p>
<ul>
	<li><div id="popupwrapper"><a href="http://my.oracle.com/site/mktg/gic/ITK%20Home/index.htm?Auth=Internet">My Oracle</a>
		<div style="display:none;" class="toolspopup" id="popupsmall30"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Internal Oracle portal, connecting to a variety of important internal sites			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng30"
		data-bind="click: function()
		{
			$('#popupsmall30').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://support.oracle.com/epmos/faces/Dashboard?_afrLoop=488066393364294&_afrWindowMode=0&_adf.ctrl-state=15923ufbu6_4">My Oracle Support</a>
		<div style="display:none;" class="toolspopup" id="popupsmall31"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			My Oracle Support home page			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng31"
		data-bind="click: function()
		{
			$('#popupsmall31').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://confluence.oraclecorp.com/confluence/display/CWR/NA+Cloud+War+Room+-+Open+Issues">NAS Cloud War Room</a>
		<div style="display:none;" class="toolspopup" id="popupsmall32"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Utilized for all escalations to the NAS War Room			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng32"
		data-bind="click: function()
		{
			$('#popupsmall32').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://apex.oraclecorp.com/pls/apex/f?p=15811:1:5269312935402:::::">NATD CSM Lookup</a>
		<div style="display:none;" class="toolspopup" id="popupsmall33"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Find a CSM by Account			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng33"
		data-bind="click: function()
		{
			$('#popupsmall33').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://confluence.oraclecorp.com/confluence/pages/viewpage.action?pageId=407114402">NATD Customer Success PaaS/IaaS</a>
		<div style="display:none;" class="toolspopup" id="popupsmall34"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Main website for CSM organization			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng34"
		data-bind="click: function()
		{
			$('#popupsmall34').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://apex.oraclecorp.com/pls/apex/f?p=32586:1:103186921226040">NATD FY18 Customer Success Segmentation Model </a>
		<div style="display:none;" class="toolspopup" id="popupsmall35"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Learn more about how customers are segmented into key levels for Customer Success activities. 
			
		
	 </div>
   </div>
		<button class="toolsbutton" id="btng35"
		data-bind="click: function()
		{
			$('#popupsmall35').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://docs.oracle.com/en/cloud/get-started/index.html">NATD SE Cloud Platform Specialists</a>
		<div style="display:none;" class="toolspopup" id="popupsmall36"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Request SE Cloud Platform Specialists Resources			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng36"
		data-bind="click: function()
		{
			$('#popupsmall36').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li><!--No Hyperlink Given-->
	<li><div id="popupwrapper"><a href="http://docs.oracle.com/en/cloud/get-started/index.html">NATD SE Industry Advisors </a>
		<div style="display:none;" class="toolspopup" id="popupsmall37"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Overview of the NATD SE Industry Advisors - Coming soon!			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng37"
		data-bind="click: function()
		{
			$('#popupsmall37').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li><!--No Hyperlink Given-->
	<li><div id="popupwrapper"><a href="https://global-apex.oraclecorp.com/apex/f?p=123:1:311319241474947:::::">OIP Lite</a>
		<div style="display:none;" class="toolspopup" id="popupsmall38"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Deal information portal			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng38"
		data-bind="click: function()
		{
			$('#popupsmall38').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://my.oracle.com/site/pd/fmw/platform/cnt2665909.pdf">OPC PaaS RACI</a>
		<div style="display:none;" class="toolspopup" id="popupsmall39"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Line in the sand for responsibility between Oracle and Customer			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng39"
		data-bind="click: function()
		{
			$('#popupsmall39').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://innovate.us.oracle.com:81/opcworkshops/index.html">OPC Workshops</a>
		<div style="display:none;" class="toolspopup" id="popupsmall40"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Oracle Public Cloud Workshops and Demonstrations that will inspire. 			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng40"
		data-bind="click: function()
		{
			$('#popupsmall40').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://confluence.oraclecorp.com/confluence/display/NCSP/Oracle+Acronyms">Oracle Acronyms</a>
		<div style="display:none;" class="toolspopup" id="popupsmall41"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Oracle Acronyms			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng41"
		data-bind="click: function()
		{
			$('#popupsmall41').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://confluence.oraclecorp.com/confluence/display/SALESENABLE/Oracle+Cloud+Ops+Compliance+Status">Oracle Cloud Compliance Status</a>
		<div style="display:none;" class="toolspopup" id="popupsmall42"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Communicate compliance information and status to the field teams of certifications, attestations, and compliance roadmap efforts			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng42"
		data-bind="click: function()
		{
			$('#popupsmall42').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://my.oracle.com/content/web/CNT2462961">Oracle Cloud Learning Subscriptions</a>
		<div style="display:none;" class="toolspopup" id="popupsmall43"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Explore the complete list of of Cloud Learning subscriptions that are complementary to customers. 			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng43"
		data-bind="click: function()
		{
			$('#popupsmall43').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://solutionengineering.us.oracle.com/site/">Oracle Cloud Solutions Hubs</a>
		<div style="display:none;" class="toolspopup" id="popupsmall44"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Overview site and services for Oracle Cloud Hubs in Austin, Reston, and Bangalore			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng44"
		data-bind="click: function()
		{
			$('#popupsmall44').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="..\events.us.oracle.com">Oracle Customer Events: Field Marketing and Corporate</a>
		<div style="display:none;" class="toolspopup" id="popupsmall45"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Link to centalized site on o.com for all customer events. 			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng45"
		data-bind="click: function()
		{
			$('#popupsmall45').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://apexapps.oracle.com/pls/apex/f?p=44785:5:13315155904435::NO::P5_PRODUCT:Cloud">Oracle Learning Library - Cloud</a>
		<div style="display:none;" class="toolspopup" id="popupsmall46"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			What would you like to learn today?			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng46"
		data-bind="click: function()
		{
			$('#popupsmall46').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://my.oracle.com/site/cloudsol/public/infrastructure/index.htm">Oracle PM OPC Website</a>
		<div style="display:none;" class="toolspopup" id="popupsmall47"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Additional information from Product Management on Oracle Public Cloud products			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng47"
		data-bind="click: function()
		{
			$('#popupsmall47').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://cloud.oracle.com/home">Oracle Public Cloud</a>
		<div style="display:none;" class="toolspopup" id="popupsmall48"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			General website for Oracle Public Cloud products			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng48"
		data-bind="click: function()
		{
			$('#popupsmall48').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://crm-fusioncrm.oracle.com/sales/faces/FuseWelcome?_adf.no-new-window-redirect=true&_adf.ctrl-state=14b1qefx5b_5&_afrLoop=269775379500619&_afrWindowMode=2&_afrWindowId=null">Oracle Sales Cloud</a>
		<div style="display:none;" class="toolspopup" id="popupsmall49"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Comprehensive site for Customer Resource Management			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng49"
		data-bind="click: function()
		{
			$('#popupsmall49').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://socialnetwork.oracle.com/osn/web/">OSN (Oracle Social Network)</a>
		<div style="display:none;" class="toolspopup" id="popupsmall50"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Oracle social network			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng50"
		data-bind="click: function()
		{
			$('#popupsmall50').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://www.oracle.com/search/customers/_/N-1joZp5wb?Nr=112">PaaS North America References</a>
		<div style="display:none;" class="toolspopup" id="popupsmall51"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Find all North America PaaS References on this link. 			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng51"
		data-bind="click: function()
		{
			$('#popupsmall51').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://gcwap.oraclecorp.com/apex/f?p=1055:1:6421292724191:::::">Product Release Cycles and Roadmaps</a>
		<div style="display:none;" class="toolspopup" id="popupsmall52"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Provides insight into the product release dates for cloud products			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng52"
		data-bind="click: function()
		{
			$('#popupsmall52').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://my.oracle.com/pls/myo/utls_qsv_html.survey_overview">QuickSurvey</a>
		<div style="display:none;" class="toolspopup" id="popupsmall53"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Create custom feedback surveys			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng53"
		data-bind="click: function()
		{
			$('#popupsmall53').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
</ul>
</div>

</div>
<div  class="oj-sm-12 oj-lg-3">
<div class=" oj-margin">
<p align="center"><strong>R - Z</strong></p>
<ul>
	<li><div id="popupwrapper"><a href="http://gcp.oraclecorp.com/ocpwb/f?p=144:2060:17175260936151:::::">Reference Request Tool</a>
		<div style="display:none;" class="toolspopup" id="popupsmall54"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Use this tool to submit a North America customer reference and enage with the Global Customer Program Team. 			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng54"
		data-bind="click: function()
		{
			$('#popupsmall54').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://cloudops-knowledgebase.custhelp.com/app/home">RFP Knowledge Base</a>
		<div style="display:none;" class="toolspopup" id="popupsmall55"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Answers to common Oracle Public Cloud questions			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng55"
		data-bind="click: function()
		{
			$('#popupsmall55').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://apex-fusioncrm.oraclecorp.com/apex/f?p=115:2:204917934235::NO::P2_SEARCH_FLAG,P2_ACCOUNT_NAME,P2_ACCOUNT_NUM,P2_SALES_REP,P2_RESOURCE_RL,P2_COUNTRY,P2_SHOW_HIDE_DUP,P2_PARTNER:N,">Sales Lookup Tool</a>
		<div style="display:none;" class="toolspopup" id="popupsmall56"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Tool to identify the sales team assigned to specific customers			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng56"
		data-bind="click: function()
		{
			$('#popupsmall56').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://apex-fusioncrm.oraclecorp.com/apex/f?p=112:1">SC Time Application (SCTA)</a>
		<div style="display:none;" class="toolspopup" id="popupsmall57"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Sales Consulting Time Reporting Application			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng57"
		data-bind="click: function()
		{
			$('#popupsmall57').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://salescallonline.us.oracle.com/mytab/">SCO (Sales Call Online)</a>
		<div style="display:none;" class="toolspopup" id="popupsmall58"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Internal Oracle portal, connecting to a variety of important internal sites			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng58"
		data-bind="click: function()
		{
			$('#popupsmall58').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://scrm.oraclecorp.com/">SCRM</a>
		<div style="display:none;" class="toolspopup" id="popupsmall59"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Sales Consulting Resource Management Tool			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng59"
		data-bind="click: function()
		{
			$('#popupsmall59').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://global-ebusiness.oraclecorp.com/OA_HTML/OA.jsp?page=/oracle/apps/fnd/framework/navigate/webui/HomePG&homePage=Y&OAPB=FWK_HOMEPAGE_BRAND&transactionid=871542586&oapc=2&oas=osJBRbqW1sQ-EpUBqQIJuA..">Self Service</a>
		<div style="display:none;" class="toolspopup" id="popupsmall60"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Timecard, expenses, procurement			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng60"
		data-bind="click: function()
		{
			$('#popupsmall60').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="http://innovate.us.oracle.com:7007/tab_website/">Solution Bank </a>
		<div style="display:none;" class="toolspopup" id="popupsmall61"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			SE Resources site to leverage top presentations, assets, and images for customer meetings			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng61"
		data-bind="click: function()
		{
			$('#popupsmall61').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://solutionfactory.us.oracle.com/">Solution Factory</a>
		<div style="display:none;" class="toolspopup" id="popupsmall62"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			Create personalized micro-site for your customer in the DMZ.			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng62"
		data-bind="click: function()
		{
			$('#popupsmall62').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
	<li><div id="popupwrapper"><a href="https://apex.oraclecorp.com/pls/apex/f?p=18451:55:114847428244197:::::">Support - One Stop Shop</a>
		<div style="display:none;" class="toolspopup" id="popupsmall63"
		data-bind="ojComponent:{component: 'ojPopup',
								chrome: 'none', 
								position: {my: {'horizontal':'start',
												'vertical': 'top'}, 
										   at: {'horizontal':'end',
												'vertical':'top'}
										  },
								modality: 'modeless'
							   }">
	 <div style="">
			The One Stop Shop tool offers a quick and easy way to get assistance when a customer is experiencing a situation or issue with a significant business impact that requires heightened awareness or expedited engagement.			
			
	 </div>
   </div>
		<button class="toolsbutton" id="btng63"
		data-bind="click: function()
		{
			$('#popupsmall63').ojPopup('open');
		}"><img src="css/images/infoicon.png">
	</button>
</div>
	</li>
</ul>
</div>
</div>
</div>
</div>