<div class="container">
  <div class="oj-flex tools ">
    <div class="search oj-sm-12">
      <button id="createTrainingButton" class="reqtools-button oj-xl-float-end admin" data-bind="ojComponent: {component: 'ojButton',label: 'Create Tools'},click:createtools"> </button>
    </div>
    <div class="oj-flex-item oj-md-3 oj-lg-3 toolsfilter">
      <div class="oj-sm-12 filterblock">
        <form id="formId" class="oj-form">
          <label id="mainlabelid">Role</label>
          <!-- ~~~~~~~~~~~~~ ROLES ~~~~~~~~~~~~~~ -->
          <div class="radiobg" id="radiosetBasicDemoId" aria-labelledby="mainlabelid" data-bind="ojComponent: {component: 'ojRadioset'}">
           
            <!-- ko foreach: roles -->
            <span class="oj-choice-item">
              <input type="radio" class="roles filterselect" name="roles" data-bind="checked: $parent.currentRole(),value: id,attr: {'id':id,'data-id':id}" onchange="refineupdate(this)">
              <label"><span data-bind="text: name"></span></label>
            </span>
            <!-- /ko -->
          </div>
        </form>
      </div>
      <div class="oj-sm-12 filterblock">
        <form id="formId" class="oj-form">
          <label id="mainlabelid">Category</label>
          <div class="radiobg" id="radiosetBasicDemoId" aria-labelledby="mainlabelid" data-bind="ojComponent: {component: 'ojRadioset'}" >
            
            <!-- ko foreach: refinelist -->
            <span class="oj-choice-item">
              <input type="radio" class="category filterselect" name="category" data-bind="checked: $parent.currentCategory(),value: id,attr: {'id':id,'data-id':id}" onchange="refineupdate(this)">
              <label class="filterlabel"><span data-bind="text: name"></span></label>
            </span>                    
            <!-- /ko -->
          </div>
        </form>
      </div>
      <div class="oj-flex refinebuttons">
        <div class="oj-sm-12 oj-xl-6">
          <button class="oj-sm-align-center oj-flex bluebutton" id="button" data-bind="click: refinetools, ojComponent: { component: 'ojButton', label: 'Refine' }"> </button>
        </div>
        <div class="oj-sm-12 oj-xl-6">
          <button class="oj-sm-align-center oj-flex orangebutton" id="button" data-bind="click: resetCourseFilters, ojComponent: { component: 'ojButton', label: 'Reset' }"> </button>
        </div>
      </div>
    </div>
    <div class="oj-flex-item oj-md-9 oj-lg-9 oj-sm-margin-top">
      <div class="oj-margin-edited">
        <div class="toolsbgwhite"> 
          
          <!-- SE -->
           <div align="right" class="excol"><a href="#" data-bind="click:expandall">Expand All</a> / <a href="#" data-bind="click:closeall">Close All</a></div>
          <div id="toolsaccordion" data-bind="ojComponent: {component: 'ojAccordion', multiple: true, expanded: newExpanded }">
          
            <!-- ko foreach: selectedcategories -->
              <!-- ko if: categories().length > 0 -->
              
              <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: $parent.expandedValue},attr:{'id':name}">
                <div class="oj-sm-12 catheadings oj-collapsible-header"><span class="categoryheading " data-bind="text:name"></span></div>
                <div>
                  <!-- ko foreach: categories -->
                  <div class="oj-flex toolsrow res se all" data-bind="attr:{'id':category}">
                    <div class="oj-sm-12 " style="margin-bottom: 5px;position:relative;z-index:1000"> <i class="fa fa-pencil-square-o admin" aria-hidden="true" style="cursor: pointer;float: right;margin-left: 5px" title="Edit Course"
                                data-bind="click:function(){edittools(this)}" target="_blank"></i> <i class="fa fa-trash-o admin" aria-hidden="true" style="cursor: pointer;float: right;margin-left: 5px" title="Delete Course"
                                data-bind="click:function(){deletetools(this)}" target="_blank"></i> </div>
                    <div class="oj-sm-4 oj-md-2 oj-lg-2 oj-xl-1 toolscolleft">
                      <div class="roundedwhite" data-bind="text:category.substring(0, 3).toUpperCase();"></div>
                    </div>
                    <div class="oj-sm-6 oj-md-9 oj-lg-9 oj-xl-10 toolscolmid">
                      <div class="oj-margin">
                        <h1 data-bind="text:name"></h1>
                        <span data-bind="text:description"></span></div>
                    </div>
                    <div class="oj-sm-2 oj-md-1 oj-lg-1 oj-xl-1 toolscolright"><a target="_blank" data-bind="attr:{'href':url}"><img src="css/images/317-arrow-right2.png"></a></div>
                  </div>
                  <!-- /ko -->
                </div>
              </div>
              <!-- /ko -->
              <!-- ko ifnot: categories().length > 0 -->
              <p>No Items Found</p>
              <!-- /ko -->
            <!-- /ko -->
            
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TOOLS -->

<div id="" data-bind="">
  <div style="display:none" class="dialogbodymain" id="edittools" title="Edit" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: { style: 'width: 80%; height: auto; min-width 240px; '}}">
    <div class="oj-dialog-footer" style="background-color: lightgray">
      <div class="oj-sm-8">
        <button class="bluebutton " id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'Save'}" onclick=""> </button>
      </div>
    </div>
    <div class="dialogbody">
      <div class="oj-flex"> 
        
        <div class="oj-flex-item oj-md-7 ">
         <div class="oj-margin-right">
          <div class="oj-flex oj-sm-12 inputrow">
            <div class="oj-sm-12">
              <label>Title</label>
            </div>
            <div class="oj-sm-12">
              <input type="text" placeholder="" data-bind="ojComponent: {component: 'ojInputText',value:name ,rootAttributes: { style: 'width: 100%;'}}"
                />
            </div>
          </div>
          <div class="oj-flex oj-sm-12 inputrow">
            <div class="oj-sm-12">
              <label>Link</label>
            </div>
            <div class="oj-sm-12">
              <input type="text" placeholder="" data-bind="ojComponent: {component: 'ojInputText',value:name ,rootAttributes: { style: 'width: 100%;'}}"
                />
            </div>
          </div>
          <div class="oj-flex oj-sm-12 inputrow">
            <button onclick="openEditToolsDescriptionModal()">Edit Description</button>
            <label class="required">*</label>
          </div>
         </div>
         </div>
        <div class="oj-md-5">
          <div class="oj-margin-left">
            <div class="oj-sm-12">
              <label>Category</label>
            </div>
            <div class="oj-sm-12">
              <select id="categorySelectedit" data-bind="ojComponent: {component: 'ojSelect',placeholder: 'Select a Category', value: val, rootAttributes: {style:'max-width:20em'}}">
                <option value="All">All</option>
                <option value="Documentation">Documentation</option>
                <option value="Reference">Reference</option>
                <option value="Resources">Resources</option>
                <option value="Tools">Tools</option>
                <option value="Training">Training</option>                
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="" data-bind="">
  <div style="display:none" class="dialogbodymain" id="createtools" title="Create" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: { style: 'width: 80%; height: auto; min-width 240px; '}}">
    <div class="oj-dialog-footer" style="background-color: lightgray">
      <div class="oj-sm-8">
        <button class="bluebutton " id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'Save'}" onclick=""> </button>
      </div>
    </div>
    <div class="dialogbody">
      <div class="oj-flex"> 
        
        <div class="oj-flex-item oj-md-7 ">
         <div class="oj-margin-right">
          <div class="oj-flex oj-sm-12 inputrow">
            <div class="oj-sm-12">
              <label>Title</label>
            </div>
            <div class="oj-sm-12">
              <input type="text" placeholder="" data-bind="ojComponent: {component: 'ojInputText',value:name ,rootAttributes: { style: 'width: 100%;'}}"
                />
            </div>
          </div>
          <div class="oj-flex oj-sm-12 inputrow">
            <div class="oj-sm-12">
              <label>Link</label>
            </div>
            <div class="oj-sm-12">
              <input type="text" placeholder="" data-bind="ojComponent: {component: 'ojInputText',value:name ,rootAttributes: { style: 'width: 100%;'}}"
                />
            </div>
          </div>
          <div class="oj-flex oj-sm-12 inputrow">
            <button onclick="openEditToolsDescriptionModal()">Add Description</button>
            <label class="required">*</label>
          </div>
         </div>
         </div>
        <div class="oj-md-5">
          <div class="oj-margin-left">
            <div class="oj-sm-12">
              <label>Category</label>
            </div>
            <div class="oj-sm-12">
              <select id="categorySelectadd" data-bind="ojComponent: {component: 'ojSelect',placeholder: 'Select a Category', value: val, rootAttributes: {style:'max-width:20em'}}">
                <option value="All">All</option>
                <option value="Documentation">Documentation</option>
                <option value="Reference">Reference</option>
                <option value="Resources">Resources</option>
                <option value="Tools">Tools</option>
                <option value="Training">Training</option>
              </select>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div style="display:none" class="dialogbodymain" id="edit_tools_desc_modal" title="Tools Description" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: { style: 'width: 80%; height: auto; min-width 240px; '}}">
    <div class="oj-dialog-body roleWrapper">
      <div class="nomargin-md oj-margin-left">
        <div class="oj-flex">
          <div class="oj-sm-12">
            <label>Description </label>
            <label class="required">* [20000 characters limit]</label>
          </div>
          <div class="oj-sm-12">
            <textarea id="edit_tools_editor" rows="6" cols="50" placeholder=""></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  AUTO CLOSABLE DIALOG -->
  <div style="display:none;height:150px" class="dialogbodymain" id="toastdiv" title="Notification" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style:'height: auto; min-width 240px'}}">
    <div class="dialogbody">
      <h5 data-bind="text:msg"></h5>
    </div>
  </div>
  
<!-- TOOLS -->