<div id="vtabs" data-bind="ojComponent:{component: 'ojTabs', 
                            orientation: 'vertical', selected: 0}">

  <ul>
    <li><span>Create Course</span></li>
    <li><span>Create Catagory</span></li>
    <li><span>Reports</span></li>
  </ul>




  <!-- CREATE COURSES BY ADMIN -->
  <div id="createcourse">
    <div class="oj-flex">
      <div class="oj-flex-item">
        Create Course
      </div>
    </div>
    <div class="oj-flex">
      <div class="oj-flex-item">
        <input class="oj-lg-8" type="text" data-bind="value:role">
      </div>
    </div>
    <br><br><br>
    <div class="oj-flex">
      <div class="oj-flex-item">
        <div>
          <label>Select Roles  </label>
          <select data-bind="ojComponent: {component: 'ojSelect',
                                                            rootAttributes: {style:'max-width:20em'}}">
            <option value="IE">Internet Explorer</option>
            <option value="FF">Firefox</option>
            <option value="CH">Chrome</option>
            <option value="OP">Opera</option>
            <option value="SA">Safari</option>
          </select>
        </div>
      </div>
      <div class="oj-flex-item">
        <div>
          <label>Select Category  </label>
          <select data-bind="ojComponent: {component: 'ojSelect',
                                                            rootAttributes: {style:'max-width:20em'}}">
            <option value="IE">Internet Explorer</option>
            <option value="FF">Firefox</option>
            <option value="CH">Chrome</option>
            <option value="OP">Opera</option>
            <option value="SA">Safari</option>
          </select>
        </div>
      </div>
      <div class="oj-flex-item">
        <div>
          <label>Select Sub-Category  </label>
          <select data-bind="ojComponent: {component: 'ojSelect',
                                                          rootAttributes: {style:'max-width:20em'}}">
          <option value="IE">Internet Explorer</option>
          <option value="FF">Firefox</option>
          <option value="CH">Chrome</option>
          <option value="OP">Opera</option>
          <option value="SA">Safari</option>
        </select>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF SECTION -->


  <!-- REPORTING MODULE FOR TRAINING -->
  <div id="report">
    <div class="oj-flex">
      <div class="oj-flex-item">
        <div>
          <label>Enter Roles  </label>
          <input type="text" data-bind="ojComponent: {component: 'ojInputText'}" />
        </div>
      </div>
      <div class="oj-flex-item">
        <div>
          <label>Enter Category  </label>
          <input type="text" data-bind="ojComponent: {component: 'ojInputText'}" />
        </div>
      </div>
      <div class="oj-flex-item">
        <div>
          <label>Enter Sub-Category  </label>
          <input type="text" data-bind="ojComponent: {component: 'ojInputText'}" />
        </div>
      </div>
    </div>
    <br><br>
    <div class="oj-flex">
      <div class="oj-flex-item">
        <div>
        </div>
      </div>
      <div class="oj-flex-item">
        <div>

        </div>
      </div>
      <div class="oj-flex-item">
        <div>
          <input type="button" value="Create">
        </div>
      </div>

    </div>
  </div>

  <!-- END OF SECTION -->








  <!-- CREATE ROLE< CATEGORY AND SUB_CATEGORY -->
  <div id="createcategory">
    <p>Vertical Disabled panel.</p>
  </div>
  <!-- END OF SECTIONS -->



</div>